[2021-05-16 05:40] #331 closed

[2021-05-16 05:44] v-smahaj commented on #320
Thank you for asking. We just updated the documentation to include steps for cloning repository. Please refer [FAQ](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Frequently-Asked-Questions-(FAQ)) page for guidance on cloning repository.

[2021-05-16 05:44] #320 closed

[2021-05-16 05:46] v-smahaj commented on #317
To see teams in the search you need to install manifest_users.json in teams you wish to send messages. Please confirm that you have installed User bot in teams.
Let us know if your issue is not resolved.

[2021-05-16 05:46] #317 closed

[2021-05-16 05:48] v-smahaj commented on #315
No. This is not possible.

[2021-05-16 05:48] #315 closed

[2021-05-16 05:52] v-smahaj commented on #293
You can follow the [v4 migration guide](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/v4-migration-guide) to update the app to v4.

[2021-05-16 05:52] #293 closed

[2021-05-16 05:53] #292 closed

[2021-05-16 05:54] v-smahaj commented on #282
Yes, this is expected. It is asking for you to grant the permissions for the app. You can grant admin consent to all users directly from portal itself. if you are admin. Go to your Authors app registration created in step 1 of Deployment Guide. Go to API permission under Manage and click Grant admin consent. It is also mentioned in Deployment Guide Step 4.4.

[2021-05-16 05:54] #282 closed

[2021-05-16 18:28] v-smahaj commented on #273
Company Communicator User(manifest_users.json) bot needs to be installed in teams in which you want to broadcast message.
Can you confirm if it is installed?

[2021-05-16 18:28] #273 closed

[2021-05-16 18:34] #262 closed

[2021-05-16 18:46] v-smahaj commented on #246
You can directly update new secret in App service's configuration. New Author's app registration secrets needs to updated at following places AuthorAppPassword, AzureAd:ClientSecret and other User app registration secrets need to update at UserAppPassword.

[2021-05-16 18:46] #246 closed

[2021-05-16 19:42] deniscooper commented on #392
same issue here too

[2021-05-16 22:28] Tech-Savi commented on #392
Hi Denis. Thank you for your reply. I installed and deployed the user app. My understanding is that the author app should be capable of targeting specific identities, not just all. Unfortunately the author app cannot see any identities of users, DL’s or Teams names.

[2021-05-17 10:11] Tech-Savi commented on #392
I have now tested this @deniscooper and you were spot on. Thank you!

[2021-05-17 10:11] #392 closed

[2021-05-17 11:18] SySnootles79 opened #396 "Communicator diplay issues while Using Dark Mode in MS Teams"
While using MS Teams in dark mode most of the text elements in the communicators author page is not visible

[2021-05-18 08:39] Max-Enrico opened #397 "Bot is not valid. Errors: The bot name is already registered to another bot application/ Login Loop in Authors App"
I've tried to install the app some times, even with removing all components at the beginning.

Most, i got an error: Bot is not valid. Errors: The bot name is already registered to another bot application. Errors: The bot name is already registered to another bot application.
The bot app was already removed by deleting the resource group and the app registration as well as enterprise applications

[2021-05-18 13:26] Abhisheik-athi opened #398 "Unable to download report"
![image](https://user-images.githubusercontent.com/75985662/118657261-f2577880-b808-11eb-86ca-c6d91340ec15.png)
Team, need assistance on the above issue. Getting error when clicking on 'Allow' when trying to download the report.

[2021-05-18 17:42] lsborroto opened #399 "when I try to provide consent i got an error: "We can't grant consent to the permissions you requested. Please try again. If you continue to have problems, contact Microsoft customer support.""
I imported the company communicator to Microsoft Teams, the process worked well. The issue appear later when we try to assign permissions from Microsoft Teams apps, selected the company communicator author -> permissions -> press to assign consent, but I got an error:
 "We can't grant consent to the permissions you requested. Please try again. If you continue to have problems, contact Microsoft cu

[2021-05-18 20:14] #399 closed

[2021-05-18 20:14] lsborroto commented on #399
It was an issue with the applications id.

[2021-05-18 21:21] cristianoag commented on #385
If you don't delete the database (Azure Storage account), yes. So take care with the "re-deploying".

[2021-05-18 21:24] cristianoag commented on #384
Are you sure you're using the UPN? I've seen this error before with people using the email address in setups with UPN != email.

[2021-05-19 05:01] thiagobeier opened #400 "error running .\deploy.ps1 - powershell deployment"
we have an azure subscription running on a different tenant that's not the same as where o365

Starting deployment...
Login with with your Azure subscription account. Launching Azure sign-in window...
WARNING: Unable to acquire token for tenant 'dc411c63-1f52-4491-bb51-c4d215a1de23'

WARNING: The default web browser has been opened at https://login.microsoftonline.com/06cf07c8-a863-46bb-afa9-6878b

[2021-05-19 05:06] thiagobeier opened #401 "deploy to azure"
we have an azure subscription running on a different tenant that's not the same as where o365

following the https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Deployment-guide
we go through browser authentication into the correct azure subscription (deploy to azure)
the deploy starts and then we get the following error after a few minutes
1. failed with time out, will re-

[2021-05-19 09:39] faalive opened #402 "Impossible to create new message for Editor for authorized editor"
Hi, we have installed app two days ago (40k active users) and one of authorized editor sent first message.

Today we noticed that 4 authorized editor cannot create message anymore, they see just a grey page under Company Communicator Author tab and message has been opened by just 7k users (but I think that has been stopped).

Any ideas about cause? I'm considering that this could be generated by A

[2021-05-19 11:43] Ochuwa-sophie opened #403 "Error in c"
Good day,
I have company communicator on azure and it only runs fine when I use the v3.x branch for deployment.
I attempted to change it from v3.x to v4.x because when I use master, it gives an error saying "The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.". But when I go into the app service deployment centre to change the branch it points to

[2021-05-19 12:45] thiagobeier commented on #401
the deployment took hours and we got ERROR

commv3/web
Microsoft.Web/sites/sourcecontrols
Conflict
Operation details

{
    "status": "Failed",
    "error": {
        "code": "ResourceDeploymentFailure",
        "message": "The resource operation completed with terminal provisioning state 'Failed'."
    }
}

[2021-05-19 12:57] golubenkoff commented on #365
Hi, The same  error here - when trying to add author app  to teams -
checked everything, doing sync in deployment center and checked parameters, id's, urls, permissions.
Checked urls ( from AppService ) - the same error there.
How can we fix this ?

The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.

[2021-05-19 12:57] golubenkoff commented on #268
Hi, The same  error here - when trying to add author app  to teams -
checked everything, doing sync in deployment center and checked parameters, id's, urls, permissions.
Checked urls ( from AppService ) - the same error there.
How can we fix this ?

The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.

[2021-05-19 13:00] golubenkoff opened #404 "The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."
Hi, - when trying to add author app  to teams - we getting error:
The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.

checked everything, doing sync in deployment center and checked parameters, id's, urls, permissions.
Checked urls ( from AppService ) - the same error there when opening url from without front-door.

How can we fix this ?

[2021-05-19 14:24] golubenkoff commented on #404
Also found Log on App Service Plan:
Log Details

Commit ID: temp-c651b694

Time
Activity
Log
3:32:07 PM
Fetching changes.
3:36:19 PM
An unknown error has occurred. Check the diagnostic log for details.

No additional details. Tried Full Stop of AppService & Sync \ redeploy commit - and success. Now all is or - just for everyone if you have the same issue.

[2021-05-19 14:24] #404 closed

[2021-05-19 14:27] golubenkoff commented on #389
The same for me - did you fix this?

[2021-05-19 18:33] monovex opened #405 "Company Communicator app missing from App Services"
The app is deployed and working, but missing from App Services.  I am attempting to access App Services so that I may update the SenderUpn field.  Any thoughts on why I would not be able to see this in App Services?

[2021-05-20 02:27] Ochuwa-sophie commented on #404
Hi, how did you fix this?

[2021-05-20 06:50] hunaidhanfee20 commented on #405
Hello @monovex,
First thing I would like to confirm if you had done deployment and installed bot in two different tenant then please make sure that you are looking in the right tenant, the one where you done the deployment you need to look in that. You may have already but you can also try to search in Azure portal using base resource name.

You can also check in resource group which you have sele

[2021-05-20 07:32] hunaidhanfee20 commented on #401
Hello @thiagobeier,
If all the resources are created successfully then you can go into your _App service_ . On the left hand side menu select _Deployment center_.
![image](https://user-images.githubusercontent.com/64194049/118935861-96583580-b969-11eb-924b-027e353ae43e.png)
Once you have selected that you can check the logs and sync the app service.
![image](https://user-images.githubusercontent.c

[2021-05-20 08:56] hunaidhanfee20 commented on #398
Hello @Abhisheik-athi,
Can you please check author's manifest -> supportedFiles is set to true.
We were not able to repro this issue. Let us know if issue still persists for you.

[2021-05-20 09:08] hunaidhanfee20 commented on #387
Hello @Mikhail2k15,
The feature to make Adaptive card full width is released recently. This feature is not currently implemented in current version of Company Communicator.

Here's how you can do that:
[Full Width Adaptive Card (Microsoft Docs)](https://developer.microsoft.com/en-us/microsoft-teams/blogs/five-new-features-enhancing-adaptive-cards-in-microsoft-teams/)

Here's the link to the newly

[2021-05-20 09:18] hunaidhanfee20 commented on #384
Hello @ajinkya-ghare,

As @cristianoag mentioned. Please confirm that you have entered right UPN. You can check it in App Service configuration by opening the App service and select Configuration at the left menu as you can see in image below.
![image](https://user-images.githubusercontent.com/64194049/118953216-3f0e9100-b97a-11eb-8b50-342b6b05b4d3.png)

Also please make sure that if you have more

[2021-05-20 09:28] golubenkoff commented on #404
Select AppServices and stop all of them. Next in DeploymentCenter push Sync and wait when completed- it will take long time to finish. Then start apps and all is ok

[2021-05-20 09:35] hunaidhanfee20 commented on #378
Hello @dipincluster,
To debug application locally you need to put ngrok URL in Authentication(as you already entered), Expose An API, Manifest -> [validDomains, webApplicationInfo, configurableTabs] as well as in bot channel registration.

Few points you can have look again.
1. Please make sure that you have added all permission _(mentioned in deployment guide's step 4)_ and granted admin consent

[2021-05-20 11:19] hunaidhanfee20 commented on #286
Hello @njglenuk,
Please upgrade to the latest version of company communicator. The feature has been added.
If you have installed v3 you can migrate by following this guide.
[Company Communicator v4 Migration Guide](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/v4-migration-guide#company-communicator-v4-migration-guide)

Let us know if you face any issue.

[2021-05-20 11:26] hunaidhanfee20 commented on #288
Hello @snailCorpse,
Can you please uninstall and then install the Author bot in your teams again. Sometime bot wasn't able to update service URL. By doing this issue might get resolved.

Let us know if issue still persists for you.
Thanks

[2021-05-20 11:42] hunaidhanfee20 commented on #253
Hello @alfredolepuf ,
You need to be Global administrator to consent these permissions. Please make sure that you are using Global Admin account.

To confirm this please follow these steps-
1. Navigate to portal.azure.com.
2. Sign-in with the account
3. Search or select Users.
![image](https://user-images.githubusercontent.com/64194049/118972281-037dc200-b98e-11eb-8844-2a3455bbc644.png)
4. Search

[2021-05-20 11:46] hunaidhanfee20 commented on #263
Hello @FunctionOne,
We were not able to repro this issue. Let us know if issue still persists for you.

[2021-05-20 12:04] hunaidhanfee20 commented on #219
Hello @David-Liong ,
Following could be the reason:
1. If tenant where resources are deployed is different than o365 tenant where bot is installed then you need to update the tenant  in configurations. Let us know if this is the case we will help you in doing that.
2. Please make sure that you have entered proper URL in _Manfiest, App registration -> "Authentication" and "Expose an API"_ and follo

[2021-05-20 16:27] #405 closed

[2021-05-20 16:29] #219 closed

[2021-05-20 16:30] #240 closed

[2021-05-20 16:32] #253 closed

[2021-05-20 16:32] #288 closed

[2021-05-20 16:33] #286 closed

[2021-05-20 16:35] #361 closed

[2021-05-20 21:06] JorgeALeitao opened #406 "Can AuthorizedCreatorUpns receive a security group?"
As security groups are also security principals could one be used to manage access to Authors?

I was browsing the code but could not find the point where the current user's UPN is checked against the list.

[2021-05-21 15:18] Mikhail2k15 commented on #387
dear @hunaidhanfee20 as you can see I implemented this in a linked PR #382

[2021-05-21 15:27] Mikhail2k15 commented on #401
Try to use my way. #355

[2021-05-22 02:43] faranzazu commented on #316
Hi, I have the same issue. I already checked the API permissions for the authors app (please see next figure) but I'm still unable to send messages to M365 Groups. Any idea is welcome, thanks!
![image](https://user-images.githubusercontent.com/70083954/119212361-6d28c980-ba7d-11eb-84eb-3aca7debaeb4.png)

[2021-05-22 03:45] faranzazu commented on #365
Hi @fabiofrota and @golubenkoff, I had the same issue and it was fixed syncing again the app service.

[2021-05-24 08:07] SubbaReddi opened #407 "Documentation enhancement suggestions"
Some general comments on the documentation:
Number all steps in the model of **1.1.2**

Missing information on the "Proactive install" - version 4 (The user app must be uploaded to the app store. The authors app can be side-loaded.)

Add to the top of guide - which version will this guide install (base version or latest)?

Specific comments:
2.5 > the name contosocommunicator must be available (no

[2021-05-25 12:45] hunaidhanfee20 commented on #407
Hello @SubbaReddi,
Thank you for sharing suggestions with us. We will soon look into it.

[2021-05-25 12:59] hunaidhanfee20 commented on #403
Hello @Ochuwa-sophie,
We are not able repro this issue at our end. I want to confirm that have you followed [v3 Migration Guide](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/v4-migration-guide)?

Please let us know more details.
Thanks

[2021-05-25 13:39] hunaidhanfee20 commented on #400
Hello @thiagobeier,
We are not able to repro this issue. Can you please confirm few things:

1. There are two sign-in screen one for Azure Subscription and other Azure Active Directory. Which of the sign-in screen you are facing this issue?
2. Is it opening any browser for sign-in?
3. The account you are using for sign-in should have **contributor role** or higher and should belongs to subscriptio

[2021-05-25 13:49] hunaidhanfee20 commented on #397
Hello @Max-Enrico,
It seems like the deployment is completed successfully. Are you facing this issue while installing manifest in Teams?

Please let us know
Thanks

[2021-05-25 13:53] hunaidhanfee20 commented on #396
Thank you for reporting this, we have added it to our backlog of issues to fix. It does not meet the bar to fix at the moment.

[2021-05-25 14:08] hunaidhanfee20 commented on #390
Hello @shina00,
Can you please more details from Application insights?
 It should get reflected even without refreshing.
Are you able to "_view status_" or "_duplicate_" the message.

We were not able to repro this issue. Let us know if issue still persists for you.
Thanks.

[2021-05-25 16:49] #385 closed

[2021-05-26 08:21] Max-Enrico commented on #397
Hello @hunaidhanfee20,

no, installing the apps to teams works. When i assign the authors app to a team and go to the authors tab, i can't sign in.
My account is the install account and is set within the web app setting AuthorizedCreatorUpns.

For that i saw an similar closed issue described here: https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/issues/343
So i tried to remov

[2021-05-26 09:49] hunaidhanfee20 commented on #397
Hello @Max-Enrico,

I would like you to confirm few things:
1. Can you please check Authentication -> Redirect Uri and Expose an API in Author's app registration.
Redirect Uri should be https://{your_app_domain}//signin-simple-end.
Expose an API should be api://{your_app_domain} and if you scroll down you should see two App Ids.
![image](https://user-images.githubusercontent.com/64194049/119639584

[2021-05-26 11:05] hunaidhanfee20 commented on #381
Hello @JorgeALeitao ,
There is no transformation applied to conversation Id.
You can see here [UserDataService.cs](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/blob/9f23314f1cb258002b89a52dc5cb1900aaa99559/Source/CompanyCommunicator.Common/Services/User/UserDataService.cs#L91).

You can also have look at:  [IConversationUpdateActivity](https://docs.microsoft.com/en-us/dot

[2021-05-26 11:30] hunaidhanfee20 commented on #377
Hello @JohnK-hub,
As mentioned by @Mikhail2k15. I am adding few more fields to correct.
1. You need to update developer block in both the app manifest.
2. In authors manifest botId is incorrect at both places
![image](https://user-images.githubusercontent.com/64194049/119652336-95c90e80-be43-11eb-8ba2-5af998840b22.png)
![image](https://user-images.githubusercontent.com/64194049/119652452-c0b36280-

[2021-05-26 11:34] hunaidhanfee20 commented on #375
Hello,
You can check for as @nicoleralph said.
Please let us know if your issue still persists.

Thanks

[2021-05-26 11:40] hunaidhanfee20 commented on #372
Hello @Ruchi11177,
Sorry, I didn't get you. The sent messages can be duplicate later and can be seen in Author tab itself.
Please let us know what exactly you want to do.

Thanks.

[2021-05-26 11:47] hunaidhanfee20 commented on #370
Hello @jboehmmufg,
It is not required if you are using Admin's account. Just click on "Grant Admin Consent"
![image](https://user-images.githubusercontent.com/64194049/119654309-f22d2d80-be45-11eb-92af-0203679db8f8.png)
It's done.
OR
You can follow [Step 4.4.a](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Deployment-guide#4-add-permissions-to-your-app)
Let us know if

[2021-05-26 12:10] hunaidhanfee20 commented on #367
Hello @laracloud123,
Please have look at
[Is it mandatory to choose multi-tenant account types while app registration?](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Frequently-Asked-Questions-(FAQ)#is-it-mandatory-to-choose-multi-tenant-account-types-while-app-registration)

Let us know if have any doubt.
Thanks

[2021-05-26 12:14] hunaidhanfee20 commented on #365
Hello @Guru-S
You can check what @SubbaReddi has mentioned.

Please let us know if issue still persists.
Thanks

[2021-05-26 12:41] hunaidhanfee20 commented on #364
Hello @ByroneO,
Which version you are having right now?
You can follow these migrations guide:

- [Migration Guide v1 to v2](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Migration-guide)
- [Migration Guide v1.x to v2](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/v2-migration-guide)
- [Migration Guide v2.x to v3](https://github.com/Offic

[2021-05-26 20:20] monovex opened #408 "Adding bot to team is failing"
I side-loaded the app into our Teams app store.  When I go to add it to a team it states that "the resource you are looking for has been removed, had its name changed, or is temporarily unavailable".  I've reviewed my deployment and it all appears to be good.  I can browse to the app domain URL and it gives me the default app page, but when I add /configtab or /simple-sign-end it states the same t

[2021-05-27 07:32] hunaidhanfee20 commented on #362
Hello @faalive,
Can you please confirm this:
- Is atleast single message got sent when initiated ?
- O365 tenant should be used in App config.
- Is Manifest Id given correct in config?
- Check user table if there conversation Id is getting stored?

Let us know if the issue still persists.
Thanks

[2021-05-27 07:41] hunaidhanfee20 commented on #360
Hello @jcsul,
If the issue is related to recipient not visible in the list(see below screenshot attached) then you should check if user app is installed in the team where you are trying to send the message.
![image](https://user-images.githubusercontent.com/64194049/119785512-e2b4ef80-beec-11eb-8f86-f6d4e1ebd9d0.png)

There issue already raised related to **The bot is not part of the conversation

[2021-05-27 07:45] hunaidhanfee20 commented on #354
Hello @Abhisheik-athi,
Thanks for sharing the resolution for the issue.

Please reopen and let us know if you are still facing any issue?
Thanks

[2021-05-27 07:57] hunaidhanfee20 commented on #352
Hello @Ryan-Bender,
As @SubbaReddi said the image should be publicly accessible then only it will get render.
Also Images must be at most 1024×1024, in PNG, JPEG, or GIF format, and do not support animated GIF.

Are you able to see image on preview screen?
![image](https://user-images.githubusercontent.com/64194049/119787868-47714980-beef-11eb-9d50-b844723f5021.png)

Please let us know if your iss

[2021-05-27 08:01] hunaidhanfee20 commented on #351
Hello @JoeSMGraham,
As of now Adaptive card doesn't support video.
Also teams is not supporting any video cards too.

Let us know if you have any other issue.
Thanks.

[2021-05-27 11:59] #351 closed

[2021-05-27 12:00] #354 closed

[2021-05-27 12:01] #360 closed

[2021-05-27 12:05] #364 closed

[2021-05-27 12:06] #352 closed

[2021-05-27 12:07] #367 closed

[2021-05-27 12:08] #370 closed

[2021-05-27 16:12] hunaidhanfee20 commented on #347
Hello @JoeSMGraham,
If you are doing fresh deployment you can have both the app version there's no issue in that. But if you are going to do that you will need to update manifest Ids of both user and author manifest because default will be used in v1 version.
Both version will be having different storage so you will not able to see messages from v1.

To delete App registration : Go to App registra

[2021-05-27 17:38] namruthabvk commented on #311
Same here even we are experiencing the same issue: http_code: "BotDisabledByAdmin" and error message: "The tenant admin disabled this bot" and seeing this issue from past 9 days.

[2021-05-27 17:45] cristianoag commented on #298
You can also leverage app setup policies to block access from guests to the CC application.

- Step 1. Create a dynamic group with guests and another with all internal users. [info](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-dynamic-membership)
- Step 2. Create and assign policies to those groups. [info](https://docs.microsoft.com/en-us/microsoftteams/assign-po

[2021-05-28 05:35] hunaidhanfee20 commented on #408
Hello @monovex,
Can you try uninstalling bot from App store and re-install it.

Please share the screenshot where you are having this issue.
Thanks.

[2021-05-28 05:46] hunaidhanfee20 commented on #348
Hello @work-kyo,
Please try what @SubbaReddi has mentioned. It sometime happens.

Please let us know if your issue still persists.
Thank you.

[2021-05-28 06:20] hunaidhanfee20 commented on #345
Hello @strojasc,
Can you please check if you paste app domain on web browser, it is showing default page. It seems like it isn't. You can try to go into app service and resync.
Also you can check if in app service's configuration you have given the user email in AuthorizedCreatorUpns. It should be same as you are trying to access this page with.

Thanks

[2021-05-28 11:20] Max-Enrico commented on #397
Hello @hunaidhanfee20,

thank you for your instruction. I checked that out.
The Redirect URI is set correctly to https://compcommunicator.azurefd.net/signin-simple-end.

At Expose an API/ Set the App ID URI i have an ID api://xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
If i want to change it to api://compcommunicator.azurefd.net i got an error message
"Failed to update  application property. Error detail

[2021-05-31 07:28] hunaidhanfee20 commented on #397
Hello @Max-Enrico,
I forgot to mention one thing that you need to look in Authors app registration: {baseResourceName}-authors.

So, lets check few more thing:
1. It should be "_api://compcommunicator.azurefd.net_" everywhere.
2. Update it in Author's app registration -> "_Expose an API_".
1. Verify this URL "_api://compcommunicator.azurefd.net_" should be in App service's Configuration -> AzureAd

[2021-05-31 08:39] hunaidhanfee20 commented on #341
Hello @manish141989,
Can share the screenshot where you want to update it. We will let you know how to do it.
Mostly it is possible to do such changes, for such changes you need to update it in code and publish on the app service.

Thanks.

[2021-05-31 08:42] hunaidhanfee20 commented on #340
Hello @Qkhan463,
We aren't able to repro this issue at our end.
Can you please check logs and post us back.

Thanks

[2021-05-31 08:49] hunaidhanfee20 commented on #339
Hello @hanwesh,
Yes, you need to add those permissions in **Author's** app only.

Thanks.

[2021-05-31 09:06] hunaidhanfee20 commented on #338
Hello @snailCorpse,
Sorry for the delay.
Can you please have a look at this issue #265 and try to follow the suggestions.

Let us know if you issue still persists.
Thanks

[2021-05-31 09:09] hunaidhanfee20 commented on #336
Hello @hrobjartz,
Please try to upgrade the app service then resync it.
Once it is synced you can revert back to initial plan.

Let us know if issue still persists.
Thanks.

[2021-05-31 09:15] hunaidhanfee20 commented on #334
Hello @DanStevensonMSFT,
Time will get reduce on scaling up the app service.

Thanks

[2021-05-31 09:21] #403 closed

[2021-05-31 09:21] #400 closed

[2021-05-31 09:28] #381 closed

[2021-05-31 09:29] #377 closed

[2021-05-31 09:30] #375 closed

[2021-05-31 09:31] hunaidhanfee20 commented on #333
Hello @EZ-NY,
You can try to uninstall the User app and install it again and see if that works.

Let us know if this works.
Thanks

[2021-05-31 09:32] #374 closed

[2021-05-31 09:33] #372 closed

[2021-05-31 09:34] #365 closed

[2021-05-31 09:39] v-smahaj commented on #366
@JessicaSanMrtn - Didn't get your question completely. Are you talking about removing API permissions or removing admin or owner from Azure tenant.

[2021-05-31 09:48] v-smahaj commented on #328
Please consider forking the repository to implement your improvement and create a pull request with your solution.

[2021-05-31 09:48] #328 closed

[2021-05-31 10:47] v-smahaj commented on #131
Hi @kumaranupam21
Thanks for reporting this.
Let us know if you are still facing this issue.

[2021-05-31 10:47] #131 closed

[2021-05-31 10:48] #132 closed

[2021-05-31 10:52] v-smahaj commented on #226
For this app template repository, we are currently only making changes to fix critical bugs or deployment failures. Please consider forking the repository to implement your improvement and post back here if you're successful.

[2021-05-31 10:52] #226 closed

[2021-05-31 10:54] #224 closed

[2021-05-31 10:55] #218 closed

[2021-05-31 10:56] #216 closed

[2021-05-31 10:56] #208 closed

[2021-05-31 10:58] v-smahaj commented on #207
Hi @grsandeep
Are you still facing this issue in latest version of app?

[2021-05-31 10:59] #201 closed

[2021-05-31 11:00] #200 closed

[2021-05-31 11:00] #188 closed

[2021-05-31 11:04] v-smahaj commented on #194
@manish141989 : You can follow migration guides for various versions to get latest code for your app. This way, your original data will also be retained.
- [v4 migration guide](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/v4-migration-guide)
- [v3 migration guide](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/v3-migration-guide)
- [v2 mi

[2021-05-31 11:04] #194 closed

[2021-05-31 11:05] #193 closed

[2021-05-31 11:06] #183 closed

[2021-05-31 11:07] #179 closed

[2021-05-31 11:19] #158 closed

[2021-05-31 11:19] #166 closed

[2021-05-31 11:20] #167 closed

[2021-05-31 11:22] #228 closed

[2021-05-31 11:23] hunaidhanfee20 commented on #326
Hello @JesseGorlicki,
Best possible solution is to to resync. As you said you have already tried that. I insist you to do it one more time after stopping the app services.

You can checkout the same issue which are solved:
1. #284
2. #404

Is it your fresh deployment?
You can also check if deployment guides steps 3 and 4 are followed correctly.

Let us know if issue still persists.
Thanks.

[2021-05-31 11:58] #249 closed

[2021-05-31 11:59] #250 closed

[2021-05-31 12:28] hunaidhanfee20 commented on #323
Hello @Christopher-Henry,
I found this API that might help: [Get messages](https://docs.microsoft.com/en-us/graph/api/message-get?view=graph-rest-1.0&tabs=csharp)
It require time to check if it is feasible or not.

For company communicator, we are currently only making changes to fix critical bugs or deployment failures. Please consider forking the repository to implement your improvement and post

[2021-05-31 13:18] hunaidhanfee20 commented on #322
Hello @datarchitect,
Can you please try to resync the app services and function?
1. Go into your **App service** . On the left hand side menu select _"Deployment center"_.
![image](https://user-images.githubusercontent.com/64194049/120198951-4ff3b800-c240-11eb-91ef-73f676195caa.png)

2. Once you have selected that you can "_Sync_" the app service.
![image](https://user-images.githubusercontent.com

[2021-05-31 13:21] rpi-drm commented on #322
Hi,

yes, after a while - maybe the third - deploy was successful.

Thank you anyway,
Peter

On 2021. May 31. at 15:18:26, hunaidhanfee20 ***@***.******@***.***>) wrote:

Hello @datarchitect<https://github.com/datarchitect>,
Can you please try to resync the app services and function?

  1.  Go into your App service . On the left hand side menu select "Deployment center".
[image]<https://user-image

[2021-05-31 13:27] hunaidhanfee20 commented on #318
Hello @TGiersberg,
It happens due to permission but I can see you have added all the permission. Please try once with admin account and just confirm that you have added "_**Semicolon-delimited** list of the user principal names (UPNs)_" in  _AuthorCreatorUpn_.

Let us know if issue still persists.
Thanks

[2021-05-31 15:02] #322 closed

[2021-05-31 15:03] #323 closed

[2021-05-31 15:03] #319 closed

[2021-05-31 15:32] v-smahaj commented on #327
Thank you for reporting this, we have added it to our backlog of issues to fix. It does not meet the bar to fix at the moment. We are currently only making changes to fix critical bugs or deployment failures.

[2021-05-31 15:32] #327 closed

[2021-05-31 15:33] #334 closed

[2021-05-31 15:35] #339 closed

[2021-05-31 16:35] shridhar-outlook opened #411 "I need help to assess the impacts of changing the use HTTPS Only and FTPS Only"
I need help to assess the impacts of changing the use of HTTPS Only and FTPS Only on the authentication of the Company Communicator interface and services. Will it be necessary to change the source code?
![image](https://user-images.githubusercontent.com/85125648/120221529-31031f00-c25c-11eb-824b-c451173da98e.png)

[2021-05-31 16:36] #411 closed

[2021-05-31 19:14] Max-Enrico commented on #397
Hello @hunaidhanfee20 ,

i have an issue at updating "Expose an API". Here i got the error message "Failed to update application property. Error detail: Another object with the same value for property identifierUris already exists. [looks like a secret]". The value like secret in brackets seems like changing every time. I've tested the updating also by powershell Az module with the same error mess

[2021-06-01 03:01] faranzazu commented on #316
I found a solution: in the "_Microsoft Teams admin center_" go to "_Teams apps_"->"_Manage Apps_" and select the Company Communicator author app.; after clicking the author app you can go to the _Permissions_ section and click "_Review permissions and consent_". This action will grant consent to the author app to read the groups info.

I successfully tested this process in in two different tenants

[2021-06-01 15:27] jacemoreno commented on #374
Hi team – I don’t see the updated FAQ in the wiki. Did we move it somewhere else? Thanks!

Jace Moreno | Microsoft Teams Platform Lead, Customer Success |
P: +1 -425-722-9592 | E: ***@***.******@***.***>

***@***.***D756BF.9097F8E0]

Polite disclaimer: if you haven’t heard back from me, it’s probably because I don’t check this email thing very often. Try me on Teams 🙌

From: v-smahaj ***@***.***>

[2021-06-02 11:51] hunaidhanfee20 commented on #268
Hello @Kenzeno,
The issue is resolved for many users by resyncing the app after stopping all the app services.
Please refer to these issues : #404, #284.

Let us know if issue still persists or need any help.
Thanks

[2021-06-02 11:59] hunaidhanfee20 commented on #316
Hello @etepetepe2022,
If all the permission are granted by admin from portal for the authors apps then you should definitely try what @faranzazu is suggesting.
Thank you for the solution @faranzazu.

OR

Maybe you can try doing this by URL consent.
Mention at Deployment Guide's Step [4.4](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Deployment-guide#4-add-permissions

[2021-06-02 12:25] hunaidhanfee20 commented on #313
Hello @DipanjanGhosh85,
If you want to remove this option
![image](https://user-images.githubusercontent.com/64194049/120478551-9a08a500-c3ca-11eb-8bfb-cd91c079afb1.png)
You need to make changes in this file :
[/Source/CompanyCommunicator/ClientApp/src/components/OverFlow/draftMessageOverflow.tsx ](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/blob/9f23314f1cb258002b89a52d

[2021-06-02 16:36] hunaidhanfee20 commented on #397
Hello @Max-Enrico,
Thanks for the reply. It seems like we are missing something here. Can you please share screenshot where you are trying to change _"Expose an API"_  maybe by hiding your private information.

You can also search Authors app registration using Authors app Id.
![image](https://user-images.githubusercontent.com/64194049/120517111-b4a04580-c3ed-11eb-9372-86c7db156dfb.png)

Are you a

[2021-06-02 16:39] hunaidhanfee20 commented on #318
Hello @TGiersberg,
You should also have a look at this issue. #316
A user has mention

I successfully tested this process in two different tenants!

Let us know if this works for you.
Thanks.

[2021-06-02 17:04] hunaidhanfee20 commented on #310
Hello @asingh263,
To debug locally you will need all resources required for Company communicator should be deployed on your Azure subscription. You need to download the code and start it in Visual studio using its [.sln](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/tree/master/Source) file or you can fork and clone the git repo in VS.

You need to follow [Deployment Guide

[2021-06-02 17:07] hunaidhanfee20 commented on #309
Hello @work-kyo,
To see the teams you need to install user bot in each team you wanted to see in the list.

Let us know if issue persists.
Thanks

[2021-06-02 17:15] hunaidhanfee20 commented on #308
Hello @doshijay,
This issue seems to be solved for some users after restarting azure functions and app service.
We are not able to repro this issue. Can you please share some logs or step to repro.

Thanks

[2021-06-02 19:09] jacemoreno commented on #374
Hi Jason – did this get uploaded? I got confirmation that it was closed but don’t see it up on the repo. Thank you.

Jace Moreno | Microsoft Teams Platform Lead, Customer Success |
P: +1 -425-722-9592 | E: ***@***.******@***.***>

***@***.***D757A7.CF677DA0]

Polite disclaimer: if you haven’t heard back from me, it’s probably because I don’t check this email thing very often. Try me on Teams 🙌

Fr

[2021-06-03 09:58] #313 closed

[2021-06-03 09:58] #310 closed

[2021-06-03 10:02] #390 closed

[2021-06-03 10:04] #408 closed

[2021-06-03 10:04] #362 closed

[2021-06-03 10:05] #358 closed

[2021-06-03 10:06] #348 closed

[2021-06-03 10:07] #347 closed

[2021-06-03 11:25] hunaidhanfee20 commented on #307
Hello @sandytsang,
As of now there isn't such feature available in company communicator but you can see details in Azure storage created on [Azure portal](https://portal.azure.com).
You can search it by the base-resource name.

Once you have opened the storage account. Follow these steps:
1.  Click on _Storage explorer_.
![image](https://user-images.githubusercontent.com/64194049/120636855-c9cbb18

[2021-06-03 11:35] hunaidhanfee20 commented on #303
Hello @rhajj19, @matheuschulz,
The issue related to Source Control Conflict it should get resolved after syncing it as @priyank29 mentioned. You can try upgrading app service plan just for sync and try.

Also while doing sync please stop all the service and functions then sync it. It helps many user to solve this problem.

Let us know which version you are using and if issue is still there.
Thanks

[2021-06-03 12:32] hunaidhanfee20 commented on #302
Hello @bungleweed,
For Company Communicator we are currently only making changes to fix critical bugs or deployment failures. Please consider forking the repository to implement your improvement and post back here if you're successful.

Thanks.

[2021-06-03 12:33] hunaidhanfee20 commented on #301
Hello @bungleweed ,
Thanks for reaching out to us.

We are currently only making changes to fix critical bugs or deployment failures. Please consider forking the repository to implement your improvement and post back here if you're successful.

[2021-06-03 12:46] hunaidhanfee20 commented on #301
You can export Excel file of  the message notification status using *Export detailed results**. There you will be able to see if message is sent successfully and what is team/user name.

[2021-06-03 12:49] hunaidhanfee20 commented on #298
Hello @JoeSMGraham,
Let us know if issue still persists.
Thanks

[2021-06-03 12:50] hunaidhanfee20 commented on #296
Thank you @mbearchell  and @bungleweed.
We are closing this issue as it is solved.

[2021-06-03 12:57] hunaidhanfee20 commented on #294
Hello @haze0316 ,
It seems like there something wrong with Authors app registration. Can you please verify that permissions are granted by admin on portal.
You can also try this way:
Go to "Microsoft Teams admin center" go to "Teams apps"->"Manage Apps" and select the Company Communicator author app.; after clicking the author app you can go to the Permissions section and click "Review permissions

[2021-06-03 12:57] cristianoag commented on #298
There is no issue here. You just need to use the app setup policies. Do not use the global policy to install cc. That policy also covers guests. Use a new policy to install the app just for non-guests. Disable the proactive installation.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: hunaidhanfee20 ***@***.***>
Sent: Thursday, June 3, 2021 9:49:25 AM
To: OfficeD

[2021-06-03 13:08] hunaidhanfee20 commented on #291
Hello @veskunopanen,
In the latest version of it is working with the steps mentioned in Deployment Guide. Let us know if you are facing this issue in the latest.
We have tried without setting Authentication in User app registration and it works fine.

Thanks.

[2021-06-03 13:12] hunaidhanfee20 commented on #289
Hello @snailCorpse,
As of now we are currently only making changes to fix critical bugs or deployment failures. Please consider forking the repository to implement your improvement and post back here if you're successful.

Thanks for the sugesstion.

[2021-06-03 13:24] hunaidhanfee20 commented on #285
Hello @Mubarak86,
Please have a look at this issue #296.

Let us know if issue still persists.
Thanks

[2021-06-03 13:26] hunaidhanfee20 commented on #278
Hello @Rykimaruh,
Even if SharePoint is public, image is not accessible to people outside a domain. Try hitting that URL in incognito mode. You will probably not able to access it or it will ask you to sign-in.

Let us know if you have any questions.
Thanks

[2021-06-03 13:31] hunaidhanfee20 commented on #277
Hello @markusmiet,
In Preview markdown doesn't work but once you send this message it will make the test bold.
![image](https://user-images.githubusercontent.com/64194049/120653107-056f7700-c49e-11eb-8735-92b355700278.png)

Thanks

[2021-06-03 13:34] hunaidhanfee20 commented on #274
Hello @zshanthi,
Let us know if you are still facing this issue.

Thanks.

[2021-06-03 13:40] hunaidhanfee20 commented on #270
Hello @SantanuPati,
Company Communicator v4.1 is now available. Can you please try to migrate to the latest?

Let us know if the issue still persists.
Thanks

[2021-06-03 13:44] hunaidhanfee20 commented on #271
Hello @SantanuPati,
Can you please try upgrading the Company communicator to the latest v4.1.

Let us know if you have any questions.
Thanks

[2021-06-03 14:04] hunaidhanfee20 commented on #267
Hello @franzbuenaventura,
It seems like there something wrong with Authors app registration. Can you please that steps 1, 3 and 4 are done correctly.
and Tenant Id should be of O365 tenant and is given while deployment.

Let us know if issue still persists.
Thanks

[2021-06-03 14:22] ssleeper commented on #289
@hunaidhanfee20  Someone did exactly that.  There is a pull request (https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/pull/386) from April 8th that does implement a scheduling feature and image upload.  Can this be reviewed and possible merged in to provide a fantastic feature that I'm sure would be well received by the users of this product.

[2021-06-03 16:52] carlosatsantos opened #412 "Company Communicator"
Hi,

When I write the message the image appears.

But when sending it doesn't show the image.

![cc_image](https://user-images.githubusercontent.com/85307218/120682471-65f9b680-c494-11eb-93e8-babddd344bdd.png)
Thanks.

CS

[2021-06-03 16:55] #387 closed

[2021-06-03 16:56] shridharp-ms commented on #412
@carlosatsantos Could you share screenshots from both author app & user application? Is the Image URL you are using in composition a public URL or a private URL?

[2021-06-03 16:58] shridharp-ms commented on #398
@Abhisheik-athi Is the issue resolved?

[2021-06-03 16:58] shridharp-ms commented on #395
@priyank29 Could you share inputs on this one? Thx

[2021-06-03 17:00] carlosatsantos commented on #412
Hi,
In the author app everything works well.
In the user app the image showa like I send in the in attach file.
A private URL.

Thanks.

Carlos Santos

[2021-06-03 17:02] shridharp-ms commented on #412
@carlosatsantos Adaptive cards expect public URL. Could you try with a public URL image & let me know if the issue persists? Thx

[2021-06-03 17:02] Abhisheik-athi commented on #398
@shridharp-ms @hunaidhanfee20
Fyi I was able to export once before noticing the issue ... and yes I am still having this issue

[2021-06-03 17:03] shridharp-ms commented on #398
@priyank29 Need your inputs here. Thx

[2021-06-03 17:05] shridharp-ms commented on #177
@scjohnmsft have you tried exporting the report for each message which has logs from app insights available?

[2021-06-03 17:11] carlosatsantos commented on #412
Ok.
Thanks.
CS

[2021-06-03 17:19] #307 closed

[2021-06-03 17:19] #302 closed

[2021-06-03 17:20] #301 closed

[2021-06-03 17:21] #296 closed

[2021-06-03 17:21] #291 closed

[2021-06-03 17:23] v-smahaj commented on #290
Thanks @veskunopanen for reporting this.
Will update the deployment guide to reflect mentioned changes.

[2021-06-03 17:23] #290 closed

[2021-06-03 17:25] v-smahaj commented on #289
Thanks @ssleeper.
Will take a look at pull request and request concerned team to merge with main branch.

[2021-06-03 17:25] #289 closed

[2021-06-03 17:25] #278 closed

[2021-06-03 17:26] #277 closed

[2021-06-03 17:26] shridharp-ms commented on #312
@priyank29 Need guidance on this

[2021-06-03 17:26] #271 closed

[2021-06-03 17:31] shridharp-ms commented on #311
@priyank29 tagging for your guidance

[2021-06-03 19:08] carlosatsantos commented on #412
Hi again

It is possible to store the images in sharepoint online picture library?
I tried, it shows the picture in browser but not in teams.

Thanks.

CS

[2021-06-03 20:00] monovex opened #413 "Posting to non-General channel"
Are there any plans to update the app or is it possible for us to customize the app to allow posting to non-General channels?

[2021-06-03 20:03] monovex opened #414 "Duplicate posts were made in General"
I setup the CC app and had a user post a message.  When the message was sent to the General channel, it was posted 3 times. The first two had the name of our Authors app whereas the last one had the name of the user app.

![image](https://user-images.githubusercontent.com/84472071/120705185-7eaea000-c485-11eb-9bef-71260b90b7db.png)

![image](https://user-images.githubusercontent.com/84472071/12070

[2021-06-04 04:42] shridharp-ms commented on #204
@priyank29 Could you check this one?

[2021-06-04 09:30] #341 closed

[2021-06-04 09:31] #340 closed

[2021-06-04 09:56] hunaidhanfee20 commented on #264
Hello @sandytsang,
Like you said you have already deployed several times. Are you updating manifest or uploading them again every time?
If updating only then you can try to uninstall it from Team and and install again.
Else you can also try to uninstall the app from app catalogue and upload them.

When bot get installed these values get updated in table.
Let us know if issue still persists.
Thanks

[2021-06-04 10:56] SubbaReddi commented on #203
@dbernalf : Can you confirm the App version whether it is V3 or V4.
V3 using same bot id for user app and author app. So, allowing one app in app permission policy leading to issue.
So, Both apps are separated in V4.

[2021-06-04 10:59] SubbaReddi commented on #311
@manish141989 , @jascox19 , @namruthabvk :  Please update the Teams [app permission policies](https://docs.microsoft.com/en-us/microsoftteams/teams-app-permission-policies#:~:text=As%20an%20admin%2C%20you%20can%20use%20app%20permission,to%20install%20it%20from%20the%20Teams%20app%20store.) to allow the app for users which should fix the issue.

[2021-06-04 13:05] dbernalf commented on #203
Hi, is V3. I'm pending test with V4, as well as you said with diferent App regsitration for both i think this work correctly. Thanks for all

[2021-06-04 13:16] sandytsang commented on #264
Hello. Thanks for getting back on this. I think the v4 version has lots of improvement. We managed deploy v4 for our customer and everything went ok. No issues at all. :)

[2021-06-04 13:16] #264 closed

[2021-06-04 18:55] Max-Enrico commented on #397
Hello @hunaidhanfee20,

yes, i found the Authors app registration in tab "All applications".
As first i had a long id as api. Even time i want to change it to the right URI, i got an error. So i tested it with a similar name, which worked. (append "cc" on the target-uri, no pls do not wonder).
![image](https://user-images.githubusercontent.com/83983695/120848993-ca407700-c575-11eb-83b0-a93d8accde6

[2021-06-05 13:42] snailCorpse commented on #265
Hi All

I found that the Configuration settings deployed is different to the AzureAd:ApplicationIdURI that's is created. Check the url for the applicationURI. in the communicator configuration settings

[2021-06-05 13:42] snailCorpse commented on #265
Hi All

I found that the Configuration settings deployed is different to the AzureAd:ApplicationIdURI that's is created. Check the url for the applicationURI. in the communicator configuration settings

[2021-06-05 13:42] snailCorpse commented on #338
Hi All

I found that the Configuration settings deployed is different to the AzureAd:ApplicationIdURI that's is created. Check the url for the applicationURI. in the communicator configuration settings

[2021-06-05 13:42] #338 closed

[2021-06-05 13:48] snailCorpse opened #416 "Authoring of messages does not support dark theme in teams"
The page for authoring of messages does not support the Dark theme in Teams.
![image](https://user-images.githubusercontent.com/25774180/120893807-6a011200-c615-11eb-9ce4-bb7432ec0c7e.png)
![image](https://user-images.githubusercontent.com/25774180/120893826-813fff80-c615-11eb-9615-0a27159832f9.png)

[2021-06-05 18:01] #336 closed

[2021-06-05 18:02] #333 closed

[2021-06-05 18:02] #326 closed

[2021-06-05 18:03] #318 closed

[2021-06-05 18:04] #316 closed

[2021-06-06 13:48] #309 closed

[2021-06-06 13:49] #308 closed

[2021-06-06 13:49] #303 closed

[2021-06-07 15:43] hunaidhanfee20 commented on #397
@Max-Enrico Its really weird that it not allowing you to put that Uri. As you said earlier that you have already checked all URI and didn't find match. I am stuck at this point too. I have never face this issue before where portal say it exist but it isn't in any registation.

Just want to give one more try: Try searching in Enterprise applications
![image](https://user-images.githubusercontent.co

[2021-06-07 15:51] hunaidhanfee20 commented on #145
Hello @kgazar, @fabiofrota, @DikshantMalik,
Can you please check Expose an API Uri in Author's app registration and confirmed same is given in app service configuration

You can also have a look at these issues : #397, #188, #219.
Let us know if it still persists.
Thanks

[2021-06-07 15:53] hunaidhanfee20 commented on #151
Hello @mohamedmagdy001,
Can you please try upgrading app to the latest v4.1.

Let us know if issue still persists.
Thanks

[2021-06-07 15:59] hunaidhanfee20 commented on #169
Hello @mpsabarish1990, @The737
Is this issue resolved?
Let us know if issue still persists.

@zshanthi Yes you can enter Gmail, just make sure that enter that account which are using to sign-in into Teams. You can also search for yourself at [Portal](https://portal.azure.com) in _Users_.

Thanks

[2021-06-07 16:12] hunaidhanfee20 commented on #171
Hello @pabbinedi,
We are not able to repro this issue. Which version of Company communicator you are using? Please try to update it to latest.

Let us know if issue still persists
Thanks.

[2021-06-07 16:14] hunaidhanfee20 commented on #177
Hello @scjohnmsft,
You can try as @shridharp-ms said. Let us know if issue still there.

Thanks

[2021-06-07 16:20] hunaidhanfee20 commented on #185
Hello @The737,
Can you please share logs or detail. Try to upload to latest if not done yet.

Thanks

[2021-06-07 16:26] hunaidhanfee20 commented on #199
Hello @NandaCodeBox,
If all the resources are created successfully then you need to go to deployed App service. You can search it with base-resource name.

On the left hand side menu select Deployment center.
![image](https://user-images.githubusercontent.com/64194049/121055391-d5481100-c7da-11eb-835d-0fb39baa56b7.png)

Once you have selected that you can check the logs and sync the app service.
!

[2021-06-07 16:34] hunaidhanfee20 commented on #202
Hello @bungleweed,
Tried syncing the app service?

Let us know if the issue still persists.
Thanks

[2021-06-07 16:36] hunaidhanfee20 commented on #203
Hello @dbernalf,
We are closing this issue.

Let us know if issue still persists.
Thanks

[2021-06-07 16:40] hunaidhanfee20 commented on #242
Hello @marc-ag-raona,
Seems like you have found a solution.
Let us know if this issue still persists for you.

Thanks

[2021-06-07 16:43] hunaidhanfee20 commented on #248
Hello @himani-chi,
Please reopen the issue if you are still facing it.

Thanks.

[2021-06-08 04:54] hunaidhanfee20 commented on #414
Hello @monovex,
Is it happening for every message being sent?

There might be some issue at runtime at that time. Can you please confirm?
Thanks

[2021-06-08 05:13] hunaidhanfee20 commented on #311
Hello @manish141989,
You can surely give it a try as @SubbaReddi suggested else maybe try to re-install it on Teams and check.

Have a look at this issue too: #296.
Thanks.

[2021-06-08 10:51] #298 closed

[2021-06-08 10:51] #294 closed

[2021-06-08 10:52] #285 closed

[2021-06-08 10:52] #274 closed

[2021-06-08 10:52] #270 closed

[2021-06-08 10:53] #267 closed

[2021-06-08 10:53] #169 closed

[2021-06-08 10:53] #203 closed

[2021-06-08 10:54] #207 closed

[2021-06-08 10:55] #242 closed

[2021-06-08 10:55] #248 closed

[2021-06-08 10:57] #366 closed

[2021-06-08 14:38] Miclarsen1 opened #418 "Sorry, an error occurred while trying to access this service."
Hi

After adding the author app to Teams I am getting this error when I access the company communicator tab:

Sorry, an error occurred while trying to access this service.

I was able to add the app with no issues at all, but quite simply cannot figure out why it is not working.
I went through the whole configuration two times, but it seems to be in order according to the deployment guide.

Let me

[2021-06-09 08:03] Max-Enrico commented on #397
Hello @hunaidhanfee20,

thank you, yes it is very curious. I've checked the enterprise applications but can't find an old entry. Cleaned up them before reinstallation.

Yes, i tried the reinstallation by cleaning up and installing the app according the deployment guide by using other names.
Here i run into the issue "Bot is not valid. Errors: The bot name is already registered to another bot appli

[2021-06-09 13:53] asensionacher opened #419 "Deploying new features"
I'm trying to develop new features, however, when I deploy to my WebApp the new code with a minor change (changing an string for testing), the change not appears to be applied on the Teams App.

How I have to replace the old code with the new one on my WebApp?

[2021-06-09 21:11] dceraso1985 commented on #398
Hi, i have a one error for export details.

![image](https://user-images.githubusercontent.com/49043078/121430083-085ee180-c94e-11eb-94cb-6b2c94c6c6c6.png)

[2021-06-09 21:12] dceraso1985 opened #421 "Error to export data"
Hi,

I have an error when i try run the export details.

![image](https://user-images.githubusercontent.com/49043078/121430189-2d535480-c94e-11eb-9769-f99d2b5d8ca0.png)

can you help me?

[2021-06-10 13:29] Guru-S opened #422 "Is there a way to delete older posts from the End user App?"

[2021-06-10 14:32] shridharp-ms commented on #422
@Guru-S You can set expiry for cards to auto-refresh to any custom message mentioning the unavailability of the card (This is a customization to be developed). However, there is no way to delete older posts.

[2021-06-10 14:32] #422 closed

[2021-06-10 14:35] shridharp-ms commented on #416
@priyank29 this is supported now right?

@snailCorpse Which is the version you have deployed?

[2021-06-10 14:41] shridharp-ms commented on #401
@thiagobeier Are you still facing the issue?

[2021-06-10 14:43] #384 closed

[2021-06-10 14:44] #378 closed

[2021-06-10 14:47] #345 closed

[2021-06-10 14:50] shridharp-ms commented on #235
@priyank29 Could you guide here?

[2021-06-10 14:51] snailCorpse commented on #416
Version 4.1

[2021-06-10 14:53] #268 closed

[2021-06-10 14:58] shridharp-ms commented on #412
Hi @carlosatsantos I believe that will be an authenticated end point. Hence, it will not be supported by adaptive cards.

[2021-06-10 14:58] #412 closed

[2021-06-10 14:59] shridharp-ms commented on #413
@priyank29 Is it supported, if the end user application is installed in non-general channel?

[2021-06-10 17:45] snailCorpse commented on #418
Hi

I had the same problem. I found the following worked:

In the application configuration, make sure all the urls are pointing to the uri for the service and not the frontdoor url.

I noticed that when the bit is deployed by the arm template it uses the azurefd.net address

[2021-06-11 23:54] aosolis commented on #416
Thanks for the bug report. This is now fixed in v4.1.1.

[2021-06-11 23:54] #416 closed

[2021-06-11 23:56] aosolis commented on #413
@shridharp-ms No, this is not supported by the app. Note that in general, apps are installed to teams, not to individual channels (setting aside private channels.)

[2021-06-12 00:02] aosolis commented on #413
@monovex At this point, we don't have plans to add the ability to post to a channel other than General. You can add this functionality, which will require a UX change to add a way to pick the channel, and save that to the data store. Then the send function will need changes to recognize this new option and support sending the message to a channel.

The mechanics of sending a message to a specific

[2021-06-12 00:02] #413 closed

[2021-06-12 00:09] aosolis commented on #395
There should be no impact for this change. No need to change the source code.
Httpsonly is now set in the ARM template: https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/blob/36a00a7009379c440a4e41b668ea8f575017003f/Deployment/azuredeploy.json#L266
In the next release, we will also disable FTP deployment by default.

[2021-06-12 00:09] #395 closed

[2021-06-12 00:13] aosolis commented on #406
No, the current implementation is a direct check of the UPN in the incoming token (after it's been validated) against the list of authorized UPNs: https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/blob/de2520965d5cff88eb382f5254ac69a793e9386e/Source/CompanyCommunicator/Authentication/MustBeValidUpnHandler.cs#L72

[2021-06-12 00:13] #406 closed

[2021-06-12 00:22] aosolis commented on #312
The underlying limit for images comes from the Teams platform, and the current limits are documented here: https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#inline-card-images

For text, 1,000 characters is a good conservative size. Two limits come into play here:
- Bots can send a maximum message size of 28KB (this is for the entire message).
-

[2021-06-12 00:22] #312 closed

[2021-06-12 00:24] aosolis commented on #202
Thank you for the bug report! node-sass is no longer a dependency of this project.

[2021-06-12 00:24] #202 closed

[2021-06-12 12:27] priyank29 commented on #234
@Sheshank-TCS this issue was fixed in release v4. please upgrade to resolve this.

[2021-06-12 12:28] priyank29 commented on #234
Please let us know if you still face the issue after upgrading the app.

[2021-06-12 12:28] #234 closed

[2021-06-14 04:30] #145 closed

[2021-06-14 04:30] #151 closed

[2021-06-14 04:31] #171 closed

[2021-06-14 04:31] #177 closed

[2021-06-14 04:31] #185 closed

[2021-06-14 04:32] #199 closed

[2021-06-14 04:35] #311 closed

[2021-06-14 05:37] grsandeep commented on #207
Yeah, we are still facing the issue with the latest version

[2021-06-14 08:54] Miclarsen1 commented on #353
Don't think this works anymore, can't find anything to click on named Deployment center.

[2021-06-14 13:09] Miclarsen1 commented on #418
Hi

But it should be possible to use the azurefd.net address right?
Or I am just not sure what the url for the service would like then.

Are you able to give me an example?

[2021-06-14 14:00] priyank29 commented on #421
@dceraso1985 Can you check the application insights and share the logs for the above ?

[2021-06-14 14:13] SubbaReddi commented on #419
@asensionacher: Once you deploy the changes, Can you clear cache and retry to open teams app and check.

[2021-06-14 14:19] SubbaReddi commented on #418
@Miclarsen1 : It must be working with azurefd.net URL.
Please double check Author app registration [authentication configuration](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Deployment-guide#3-set-up-authentication) and make sure correct values entered in ARM template deployment:
![image](https://user-images.githubusercontent.com/69682598/121907369-9de0e380-cd49-11e

[2021-06-14 14:48] SubbaReddi commented on #402
@faalive: Check console logs in browser to see the error. Please make sure your azure resources are up and running.

[2021-06-14 19:51] ahmedmahmoudR commented on #244
I have the same issue
can anyone help to solve this issue

[2021-06-15 04:13] priyank29 commented on #204
@dbernalf Do you still have this issue ? If yes, can you please check if you have given Group.Read.All permission ?

[2021-06-15 04:14] priyank29 commented on #231
@Sheshank-TCS @garystewart247 Do you still have this issue ? Please upgrade to latest version and let us know if its still happening.

[2021-06-15 06:52] theogumilang opened #425 "Error when Preview Channel"
Hi, I have this error when trying to use the preview channel.  I already install both the user and author app to the channel. But I kept getting this error
Code = "BotNotInConversationRoster",
Message = "The bot is not part of the conversation roster."
Any suggestion on what do I miss in here. I already tried to install it on different channels but it has the same results.

[2021-06-15 08:33] Miclarsen1 commented on #418
Hey @SubbaReddi,

Ok thanks for the hint.
The Issue was the Application settings in Azure. For some reason the AllowedTenants and AzureAd:TenantId were both wrong, but after correcting that it all worked as intended.

Thank you again for the assist, you are a gentleman and a scholar :-)

Best regards,
Michael

[2021-06-15 14:46] erikasarmi opened #426 "Upgrading"
How can I upgrade from v4.0 to v4.1?

[2021-06-16 12:43] gleason7 opened #428 "Customizing Company Communicator Issue"
Hi Team,

Please need your urgent help. I'm trying to customize company communicator as per our requirement.
I'm trying to add some new packages in the clientapp & its working fine in localhost. But when I try to redeploy
from azure app service through Deployment Center its getting failed. Attaching failed logs & screenshot along with this ticket.

[Deploy_Issue.txt](https://github.com/OfficeDev/m

[2021-06-16 13:26] garystewart247 commented on #231
I am not having any issues.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Priyank Saxena ***@***.***>
Sent: Tuesday, June 15, 2021 12:15:09 AM
To: OfficeDev/microsoft-teams-apps-company-communicator ***@***.***>
Cc: garystewart247 ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/microsoft-teams-apps-company-communicator] Old Message status download Ex

[2021-06-16 13:59] #231 closed

[2021-06-16 14:02] priyank29 commented on #426
You can upgrade by syncing code through Deployment Center in Azure app service and the same for azure functions.

[2021-06-16 14:18] erikasarmi commented on #426
Tried that and getting the following error for the Azure functions, saying that the file doesn't exist:

Command: deploy.cmd
Handling function App deployment with Msbuild.
Using Msbuild from 'D:\Program Files (x86)\MSBuild-16.4\MSBuild\Current\Bin'.
Committing restore...
Assets file has not changed. Skipping assets file writing. Path: D:\home\site\repository\Source\Test\CompanyCommunicator.Test\ob

[2021-06-17 06:17] hunaidhanfee20 commented on #397
Hello @Max-Enrico,
Sorry for being so late have you tried with different name?

Thanks.

[2021-06-17 06:29] hunaidhanfee20 commented on #428
Hello @gleason7,
Can you share your package.json?

Thanks

[2021-06-17 07:40] gleason7 commented on #428
Hi @hunaidhanfee20 ,
PFA for the package.json & package-lock.json file.
[package.zip](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/files/6668303/package.zip)

Thanks

[2021-06-17 09:32] ATshirai commented on #426
Can I upgrade from v4.1 to v4.1.1 by that?

[2021-06-17 09:45] hunaidhanfee20 commented on #428
Hello @gleason7,
Seems like you are using "_immutable_" package somewhere but I can't find it in package.json. Can you please try adding it like this:
![image](https://user-images.githubusercontent.com/64194049/122372589-6b6bfc00-cf7e-11eb-89fa-24198c8a5c41.png)
Once added push to branch and sync.

PFA updated package.json.
[pkg.zip](https://github.com/OfficeDev/microsoft-teams-apps-company-commun

[2021-06-17 19:02] Mikhail2k15 commented on #428
@gleason7 kudu service is very unstable to deploy projects with many npm packages. Use GitHub Actions instead. You can find an idea in my PR #355

[2021-06-17 20:49] rfholanda opened #431 "Error while deploy application service - NPM ERR! company-communicator@4.1.0 build"
Hi team,

Errors are occurring when deploying communicator to the application service.

The resync with the repository has already been done and it didn't work, the procedures of issues #404 and #284 were done but it didn't work either.

Please help me!

Logs:

[code]

[2021-06-18 01:40] #418 closed

[2021-06-18 01:40] #414 closed

[2021-06-18 01:41] #401 closed

[2021-06-18 01:48] shridharp-ms commented on #344
@jcwl2021 This is not part of the company communicator app template. It is a customization you will have to develop on top of the available code base

[2021-06-18 01:48] #344 closed

[2021-06-18 01:49] shridharp-ms commented on #335
@Ochuwa-sophie These are not possible in this app template. You can use the customizations worked on, by Mikhail above.

[2021-06-18 01:49] #335 closed

[2021-06-18 01:51] #204 closed

[2021-06-18 01:51] #251 closed

[2021-06-21 00:35] Hickey77 commented on #344
Check out this this fork https://github.com/cristianoag/microsoft-teams-apps-company-communicator/wiki

Is not the official build but should be incorporated (IMHO).  Has scheduled send and image upload.  Shout out to @cristinoag

[2021-06-21 07:28] ATshirai opened #433 "When the Teams global app setup policy is used to install Company Communicator to all users"
H, Team.
Do you mean that  the V4.1.1 doesn't send a message to guest users  when ​the Teams global app setup policy is used to install Company Communicator to all users ?

[2021-06-21 09:39] Mikhail2k15 commented on #433
https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Excluding-guest-users-from-messages

[2021-06-21 10:04] rgs170170hotmail opened #437 "2 installations of Company Communicator: communications sent under the 2ns Company Communicator installation do not leave the queue, are not sent"
for a concrete customer it has been requested a 2 installations of the Company Communicator App. The first one works as expected, second installation (where we had to do some changes on IDs), when messages are sent, these are kept on the queue, never get them sent

[2021-06-21 10:04] rgs170170hotmail commented on #437
is there any guidance about how to install 2 instances of the CC app?

[2021-06-21 13:20] Max-Enrico commented on #397
Hi @hunaidhanfee20,

yes i tried it with different names. Unfortunately, every time i got this error.

[2021-06-22 11:52] sagarm09 commented on #425
@theogumilang please check teams channel is private or public if its private then use public channel to add authors app it will work.

[2021-06-22 11:54] sagarm09 commented on #330
@jjgargantilla please verify your teams channel is private or public ? if its private then use public channel to add authors app it will work.

[2021-06-22 13:53] steve-prentice commented on #235
Yes please @priyank29 that would be good if you can comment. :)

[2021-06-22 14:24] cueball59 opened #440 "Unable to Sign in to Author App"
After installing the Author App into a Team I am unable to sign-in. App acts like its loading then shows a Sign In button. Clicking the button opens up a separate window to complete the sign-in process but then just pops back to the sign in button. I checked to make sure my UPN was in the SenderUPNList and can confirm thats correct. I can see my sign-ins to the app in Azure AD were successful.
![i

[2021-06-23 02:20] pvasnmur opened #441 "Company Communicator proactive installation is not working with the latest deployment"
Sending message with “chat to members of the following groups” option is failing with the following error message while trying to install the app using Proactive installation.

Failed to prepare the message for sending:The orchestrator function 'TeamsConversationOrchestrator' failed: "The activity function 'TeamsConversationActivity' failed: "Object reference not set to an instance of an object.".

[2021-06-24 04:31] BharathiSeelam opened #442 "Not able to see the Draft notification after adding the new message in the App getting 500 error in the app insights for getAllDraftNotificationAsync"
Not able to see the Draft notification after adding the new message in the App getting 500 error in the app insights for getAllDraftNotificationAsync
getting the error message
t Microsoft.Teams.Apps.CompanyCommunicator.Controllers.DraftNotificationsController+<GetAllDraftNotificationsAsync>d__17.MoveNext (Microsoft.Teams.Apps.CompanyCommunicator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=nu

[2021-06-24 15:14] #428 closed

[2021-06-24 15:15] #402 closed

[2021-06-24 15:17] #425 closed

[2021-06-24 15:19] #433 closed

[2021-06-24 15:24] shridharp-ms commented on #440
@cueball59 Hi, do you have an alias? this might be different from your email address, can you try adding that in the UPN list & try accessing the author application?

[2021-06-24 15:27] shridharp-ms commented on #426
@ATshirai Yes, the same

[2021-06-24 15:27] #426 closed

[2021-06-24 16:31] #431 closed

[2021-06-24 16:33] #419 closed

[2021-06-24 19:30] priyank29 commented on #235
@steve-prentice Can you please explain your scenario in detail ? I would need to understand what all components do you need and what is that you want from Logic App.
Note : The app is dependent on bots as they are used to communicate messages so they have to be part of the solution.
https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Solution-overview Please see if this hel

[2021-06-24 19:36] priyank29 commented on #389
@dipincluster @golubenkoff If you are using version 4.0 or greater then you have to install the user app to the team you want to send message.

[2021-06-24 19:36] #389 closed

[2021-06-24 19:41] priyank29 commented on #398
@Abhisheik-athi @dceraso1985 Can you please share the logs from application insights ? Which version of the app you are running ?

[2021-06-24 20:05] steve-prentice commented on #235
@priyank29 Hey. So, and I'm not sure how much sense I'll make here... but at the moment if I have a Logic App that I want to send a message as a 1:1 chat to a user in Teams I have to use the Microsoft Teams connector to "Post a message as the Flow bot to a user", that goes to the user as coming from the Flow Bot in teams. We'd like to customise that so that a message comes from some sort of corpor

[2021-06-24 21:51] bungleweed commented on #441
Yes same issue here with the latest release 4.1.2

[2021-06-25 04:19] shridharp-ms commented on #324
We are investigating the ask. Presently, only static groups are supported cc: @aosolis @priyank29

[2021-06-25 08:26] gleason7 opened #443 "Company Communicator BOT Chat Adaptive Card"
Hi Team,

I'm customizing company communicator, please need urgent help I want to know in which folder I can find the
code for BOT User Chat adaptive card shown in below screen shot. Also if I want to do any changes in this specific code whether I have to click "Sync" button in azure deployment center.

![image](https://user-images.githubusercontent.com/69605707/123394589-eb1c4b00-d5bc-11eb-9b82-b

[2021-06-25 10:31] merwindz commented on #145
Hello, I have same issue with sign-in and its goes in circles. Checked the sign-in logs and its success and no errors. Anyone got any advise how to resolve this issue? thanks Merwin

[2021-06-25 11:19] Mikhail2k15 commented on #443
https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/tree/master/Source/CompanyCommunicator.Common/Services/AdaptiveCard

[2021-06-25 12:04] merwindz commented on #145
I have fixed issue after updating the API URI

Back under Manage, click on Expose an API.

Click on the Set link next to Application ID URI, and change the value to api://%appDomain% e.g. api://appName.azurefd.net.

[2021-06-25 12:46] gleason7 commented on #443
Hi Mikhail,

Thanks. please let me AdaptiveCardCreator.cs is fetching below parameter from which location.
(I know after sending message this Bot Chat is generated but don't how this parameter are passed to this adaptive card)

public AdaptiveCard CreateAdaptiveCard(
            string title,
            string imageUrl,
            string summary,
            string author,
            string but

[2021-06-25 13:19] Mikhail2k15 commented on #443
You can click on a method name even in the browser and GitHub will show you all the references.
![image](https://user-images.githubusercontent.com/11201670/123430389-caf68700-d5d0-11eb-8130-b03ff283efcf.png)

[2021-06-25 14:04] SubbaReddi commented on #437
@rgs170170hotmail
Follow below steps to deploy second instance of company communicator in single tenant:
Register Azure AD Applications as mentioned in [Step 1](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Deployment-guide#1-register-azure-ad-application)
While doing ARM Template deployment which is given in [Step 2](https://github.com/OfficeDev/microsoft-teams-apps-

[2021-06-25 14:25] 0Emma0 opened #444 "Company Communicator Author"
When We try to add the **Company Communicator Author** to a specific team in Microsoft Teams, We receive the following message **"An error has occurred"**.

We have the **Company Communicator Author** running on another Team. But we can't add it in a new team.

We try a sync, but we get the same error.

Can you help me please.

Thank you!

[2021-06-25 17:02] cmatteson commented on #441
Having the same issue with 4.1.2

[2021-06-25 17:08] bungleweed commented on #441
Think its been patched with this commit? https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/pull/445

[2021-06-25 17:36] 0Emma0 commented on #444
When we go to Azure > Resource Groups, Web App Bot > Channels, we have Warnings for Microsoft Teams, with the following message: **Failed to decrypt conversation id**

[2021-06-28 18:30] glblinck opened #446 "Can send to all but one user account - 'serviceUrl' cannot be null or empty"
Using Company Communicator, we are successful in sending to all but one account in the tenant. The sending account never receives the message, with the log saying "'serviceUrl' cannot be null or empty". Any idea how to address this? Version 4.1.2 is installed and seems to work for everything but sending to the one account.

Member | Failed | -2 : System.ArgumentException: 'serviceUrl' cannot be nu

[2021-06-28 18:40] snailCorpse commented on #446
Make sure that when you created the app registration you selected multi tenant as the option.

Also make sure that all the url settings on the app  configuration matches the correct url created by the ARM template

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Glenn Blinckmann ***@***.***>
Sent: Monday, June 28, 2021 8:31:11 PM
To: OfficeDev/microsoft-team

[2021-06-28 19:14] glblinck commented on #446
Checked the app registration and configuration. Both were correct. I had assumed they should be since the same app is working for everyone else in the tenant. Any other ideas?

[2021-06-29 15:55] renearreaza commented on #437
Followed suggestions from SubbaReddi and still encountering the same issue. Any guidance?

[2021-06-30 06:15] #443 closed

[2021-06-30 06:29] #440 closed

[2021-06-30 07:13] #441 closed

[2021-06-30 07:55] #421 closed

[2021-06-30 09:43] Max-Enrico opened #448 "At first installation of Company Communicator i got the error: Bot is not valid. Errors: The bot name is already registered to another bot application"
ERROR: Deployment failed. Correlation ID: a6c14cd2-e2ad-4e4e-aca2-2ed673b5e378. {
  "error": {
    "code": "InvalidBotData",
    "message": "Bot is not valid. Errors: The bot name is already registered to another bot application..  See https://docs.microsoft.com/azure/bot-service/bot-service-resources-bot-framework-faq?view=azure-bot-service-4.0 for detailed requirements."

Initial started with th

[2021-06-30 12:33] priyank29 commented on #448
@Max-Enrico Did you change the App Name in the second try ? If not, can you please try doing that ?

[2021-06-30 21:31] JorgeALeitao opened #449 "Are there plans to move from client+secret to Azure Key Vault?"
Are there plans to move from client secret to Azure Key Vault?

Thanks!

[2021-07-01 10:59] SubbaReddi commented on #437
@renearreaza : Then please check app insight logs to understand the failure reason.

[2021-07-01 16:06] Max-Enrico commented on #448
Hi @priyank29 ,

i solved it by using a different baseResourceName.
It was not clear to to that this name must be unique globally, not only tenant wide.
Now it works.

Perhaps you can update the section for the baseResourcename, that i become more clear, that the entry must be unique globally.

thanks in advance!

[2021-07-01 16:06] #448 closed

[2021-07-01 16:07] Max-Enrico commented on #397
Solved it by a new installation of the app and https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/issues/448 .

Thank you

[2021-07-01 16:07] #397 closed

[2021-07-02 04:33] Abhisheik-athi commented on #398
![aa1](https://user-images.githubusercontent.com/75985662/124221059-93ca2d80-db1c-11eb-9005-4d136d73ee61.png)

@priyank29  This is the error that i get in the App Insights . i am using v3.x.

[2021-07-02 04:48] Abhisheik-athi opened #451 "Messages are getting failed in large numbers that are 'unknown'"
Hi Team ,

We have been facing issue in sending to a large number of users (>400k). The messages are getting failed to send and also many are showing unknown in the Author app. PFB details
The send queue is getting filled even though the message is triggered only for around 500k users in total at a time.

We have deployed v3.x in our tenant.

  ![MicrosoftTeams-image](https://user-images.githubuse

[2021-07-02 13:15] priyank29 commented on #451
@Abhisheik-athi What is the App Service plan of the instance ?

[2021-07-02 14:32] priyank29 commented on #449
Hi @JorgeALeitao Yes this feature will be part of Company Communicator v4.2.

[2021-07-02 14:32] #449 closed

[2021-07-02 14:37] JorgeALeitao commented on #300
Are extended characters support in URL strings?

Which RFC?

[2021-07-05 12:19] Abhisheik-athi commented on #451
@priyank29  - S1

[2021-07-06 12:24] defrian opened #452 "Detailed User Stats"
Dear all,

I was hoping that I would not only get stats about successful delivery but also about how many users have read the message and how many of them have clicked the button. Is this information already stored somewhere or do I have to implement it myselt?

Best
Defrian

[2021-07-06 21:21] defrian commented on #452
Alright, by searching in the closed issue I now understand that I have to implement this functionality myself. Problem is, I have no idea how to do this. Can someone post me a link to a beginner tutorial on how to extend and develop app templates.

[2021-07-07 02:37] priyank29 commented on #451
@Abhisheik-athi Thanks! Can you also share the exception details here with the ClientRequestId ?

[2021-07-07 06:36] Abhisheik-athi commented on #451
@priyank29  - Could you please mention the where & how to get that information ?

[2021-07-07 14:22] ChrisStoneham opened #453 "Unable to sign in"
Exactly the same as the closed (but unresolved) issue #440 - I'm experiencing the same issue where the sign-in just loops and won't ever complete.

[2021-07-07 14:42] jrettenbacher commented on #137
I have the same issue. Installed the Company Communicator Teams App based on the Deployment Guide and when I want to add the Author App to a Teams Channel (Tab) I just see the blank screen. Does anybody have an idea / solution for that issue? Thank you very much.

[2021-07-07 15:02] glblinck opened #454 "Images don't show up in mobile apps"
After upgrading to 4.1.2, I've gotten reports that images don't show up in mobile apps for Company Communicator. This is after making sure that the image size, internet availability, and image format were all correct. I've now tried this in a separate tenant and with separate mobile clients and am able to reproduce it.

I'm not sure if this is related to 4.1.2, but I didn't get reports of this pro

[2021-07-07 16:20] saundersmatt commented on #137
@jrettenbacher

Have you tried my resolution above?

[2021-07-08 00:11] shridharp-ms commented on #452
@defrian bots on microsoft teams today do not support read receipts of messages. The alternative way to achieve is through tracking user reactions to the messages. Here is how to do it with bot events - https://docs.microsoft.com/en-us/javascript/api/botbuilder/teamsactivityhandler?view=botbuilder-ts-latest#onReactionsAdded_BotHandler_ . You will have to log these into telemetry to start receiving

[2021-07-08 00:11] #452 closed

[2021-07-08 00:11] shridharp-ms commented on #453
@ChrisStoneham Do you have an alias? Have you ensured both are whitelisted in validUPNs?

[2021-07-08 00:55] #330 closed

[2021-07-08 02:05] arnav58 commented on #441
Hi team, I'm still facing this issue. Could someone please advise on how to patch the app with the update to solve this issue?

Thanks

[2021-07-08 02:43] priyank29 commented on #441
@arnav58 Please update to the latest release.

[2021-07-08 02:54] arnav58 commented on #441
Hi @priyank29 , how can I do this on an already deployed app? Is there a Wiki I can follow?

[2021-07-08 05:40] jrettenbacher commented on #137
@saundersmatt

Yes this I already tried. I checked the AzureAd:ApplicationIdURI and also saved it. I also tried a Redeployment of the App Service. Which also did not solve the issue.

[2021-07-08 07:57] bungleweed commented on #454
Are you using PNG files?

[2021-07-08 08:00] bungleweed commented on #441
Hi, you have to update the app service and the 3 function apps. In each one go to the deployment centre and then click sync which will pull down the latest code from GitHub. These resources are setup using continuous deployment with GitHub as the source.

[2021-07-08 12:41] ChrisStoneham commented on #453
When you say validUPNs I'm assuming you mean the AuthorizedCreatorUPNs application setting for the App Service?

I've added my "onmicrosoft.com" aliases, and, something has happened, it gets further, but, now I'm just greeted with spinning loading icons and it never loads:

![image](https://user-images.githubusercontent.com/33757550/124923313-36d5e800-dff2-11eb-8134-3786f7851530.png)

[2021-07-08 12:45] glblinck commented on #454
I've tried both PNG and JPG files. Both file formats work fine on desktop and web clients, but neither works on the mobile client.

One other thing that might come into play is that the Teams piece of this solution is being used in GCC tenants. I have a demo GCC tenant available if this would help with getting it working.

From: bungledore ***@***.***>
Sent: Thursday, July 8, 2021 3:58 AM
To: Offi

[2021-07-12 14:44] kayobrasilicatu opened #455 "Deployment failure due to network policy: Storage Account Should Restrict Network Access"
Cannot pass trought ARM template validation step, it asks to configure network rules, so only applications from allowed networks can access the storage account.

After this, tried add "networkAcls > defaultAction > Deny" inside Storage Account properties on template.json, but the deployment of Web Apps fails due to access denied to storage account.

![error](https://user-images.githubusercontent.c

[2021-07-12 14:45] Vijay2704 opened #456 "Commpany communicator redirect url is not working"
Hi Team,

Url "https://XXXXXXX.azurefd.net/configtab"
https://XXXXXXX.azurefd.net/signin-simple-end
after deployment iam trying to access this url but i got below error.
**"The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."**

i am referring the below link for creating the company communicator
[Link]("https://github.com/OfficeDev/microsoft-team

[2021-07-13 04:58] Abhisheik-athi commented on #451
@priyank29  -  Could you please mention the where & how to get that information ?

[2021-07-13 14:29] ChrisStoneham commented on #453
I think I've resolved this specific issue now. Appears that the APIs weren't exposed by the deployment script.

[2021-07-13 14:29] #453 closed

[2021-07-15 09:51] bungleweed commented on #454
Tested mobile images with latest code release. Works fine. This is in a standard enterprise tennat, not GCC.

[2021-07-15 18:45] glblinck commented on #454
Okay, so this must be a GCC thing. Would there be any hope of getting this working in the GCC environments, too? The other functions seem to be fine.

[2021-07-16 16:02] bungleweed commented on #455
Is that because you have your own policy that mandates storage account needs to be restricted to only internal networks? I suspect the ARM templates conflicts with your policy on that.

[2021-07-16 16:03] bungleweed commented on #456
You might need to deploy the web app service again. Go into the web app service and click deployment centre. Click sync to deploy it from github. This is usually the cause of this error.

[2021-07-16 16:14] kayobrasilicatu commented on #455
Thanks for the comment, @bungleweed ! Yes, it's a conflict  between Company Communicator ARM Template and an active policy on my environment. The question is, how can I proceed with instalation without disabling the policy? Is there any other way?

[2021-07-16 16:22] bungleweed commented on #455
There's a deploy with powershell script option. That runs a deploy.ps1 script. Maybe you could amend that where it deploys the storage account to honour your policy.

[2021-07-16 16:27] bungleweed commented on #455
![image](https://user-images.githubusercontent.com/29515438/125979304-3d972bc9-61bd-4690-8dc7-0ec90bee6355.png)
It's this bit that violates your policy. I wonder if you could get the ARM template and just amend the bit that provisioned the storage account and add the parameters to the network access down to the template. Then deploy it from that.

[2021-07-16 16:27] bungleweed commented on #455
Or.....get a one off exception to deploy and then lock it down post install.

[2021-07-22 14:53] nigelzin opened #474 "Update Company Communicator 4.1.0 to 4.1.3"
Hi =),
How to update this application from 4.1.0 to 4.1.3? I need go to : resource groups > settings > deployments and check the template and redeploy?

Anyone can confirm ? Thx for helping.

[2021-07-23 02:05] #437 closed

[2021-07-23 02:06] shridharp-ms commented on #244
Closing due to insufficient details

[2021-07-23 02:06] #244 closed

[2021-07-26 17:23] alejandroroberto opened #475 "The Author app doesn't get the teams channels,"
Hello, can you help me with the next error?

The Author app doesn't get the teams channels, it doesn't get the members either

![image](https://user-images.githubusercontent.com/43283504/127031897-4ff12be0-6dde-4270-80ad-c9d593d9f2ad.png)

[2021-07-26 17:51] priyank29 commented on #474
@nigelzin you need to go to: resource groups > app service > deployment center > then click on sync. This has to be repeated for all the 3 functions and make sure to restart the app after sync. Thanks!

[2021-07-26 17:59] priyank29 commented on #475
@alejandroroberto  please check this [369](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/issues/369).

[2021-07-26 17:59] #475 closed

[2021-07-26 18:00] #474 closed

[2021-07-26 18:04] priyank29 commented on #398
@Abhisheik-athi  I will suggest to update the app to the latest version, as there was some issue with export in v3 version and was fixed in v4.0 or greater. Thanks

[2021-07-26 18:18] priyank29 commented on #383
### Company Communicator : SSO without Implicit Flow

**1) Pre-Consenting the application :**

- For new apps, at the time of registration
- Under Manage, click on Authentication to bring up authentication settings
- Add a new entry to Redirect URIs:

- For old app registration, please go to authentication following above steps and uncheck ID Token box.
- After the code deployment and before insta

[2021-07-26 18:18] #383 closed

[2021-07-27 16:27] JorgeALeitao opened #476 "Video that depicts non-existing features."
This YouTube video https://www.youtube.com/watch?v=_dzu8HEu1AU published by Microsoft at 0:0:36 depicts the ability to schedule a time for messages to be send and at 0:0:49 it depicts the ability to measure success of announcement by analyzing the number of views, replies or reactions a message had.

AFAIK none of that is currently available, thus I suggest that this video should be taken down or

[2021-07-28 19:26] anshubp opened #477 "Company Communicator App Stuck in Save as Draft Page (Author Experience)"
CC Author App always remains stuck in attached page. Also, while looking for general channel in Teams or selecting any of the option there, it is not able to find details there. Clicking on Save as Draft don't make any changes.
![Error2](https://user-images.githubusercontent.com/88111014/127383720-16475e95-424f-4d35-8a9b-e01d9897b29d.jpg)

![Error1](https://user-images.githubusercontent.com/881110

[2021-07-29 13:55] mark3grahams opened #478 ""Failure Anomalies" in deployment"
I just set this up in a dev tenant using the Powershell script. The script had no errors, but when I look at the RG > Deployments, I see "Failure-Anomalies-Alert-Rule-Deployment" (along with "azuredeploy")

{
    "status": "Failed",
    "error": {
        "code": "MissingSubscriptionRegistration",
        "message": "The subscription is not registered to use namespace 'Microsoft.AlertsManagement'.

[2021-07-29 17:53] bungleweed opened #479 "Documentation Improvement - Teams App Permission Policies"
Hi,

I've had a number of customers following the deployment guide but getting stuck with the proactive installation of the end user app due to their App Permissions Policies in Teams blocked usage of custom apps. When they then try and send a message out the proactive install fails as the graphi api request to install the app for the end user fails with a 403 exception, which can be seen the app

[2021-08-02 13:27] geo-msft opened #480 "Deployment fails when template is deployed to southindia"
Hi,

One customer is having this deployment failure when choosing southindia region:

{
    "status": "Failed",
    "error": {
        "code": "BadRequest",
        "message": "Region doesn't support non-consolidated component creation"
    }
}

This is coming from the App Insights (Microsoft/Insights/Components) and leads to the whole template failing.
Could you contact me in private Teams chat a

[2021-08-03 20:08] glblinck opened #481 "CC Author App can't be added to channel"
When trying to add the company communicator author app to a channel, we get the error "something went wrong". No other error that I can find to help point to what might have gone wrong. I've attached the app manifest in case you can find an issue. The manifest looked fine to me.
[CompanyCommunicatorAuthors.zip](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/files/6926803/Co

[2021-08-09 13:16] SubbaReddi commented on #446
Hi @glblinck,
Navigate to Azure resource group cc app -> Open storage account -> Click on Storage explorer(preview)->Delete "UserData" table and recreate the table.
When you send the message next time user data will be reloaded.

[2021-08-09 13:21] SubbaReddi commented on #444
To resolve "Failed to decrypt conversation id", follow below step:
Navigate to Azure resource group cc app -> Open storage account -> Click on Storage explorer(preview)->Delete "UserData" table and recreate the table.
When you send the message next time user data will be reloaded.

Once it resolved, check whether author app adding works.

[2021-08-09 18:35] vikasssdn1 opened #483 "Ooops! An unexpected error seems to have occurred. Why not try refreshing your page? Or you can contact your administrator if the problem persists."
Ooops! An unexpected error seems to have occured. Why not try refreshing your page? Or you can contact your administrator if the problem persists.

FYI...For testing purpose, we have deployed the template with AZURE free subscription.

Kindly suggest as we would be moving to production environment very soon.

[2021-08-09 19:53] shorties commented on #483
I'm having the same issue, with the same setup, I just set it up today.

[2021-08-09 20:06] vikasssdn1 commented on #483
I have re-deploying using this youtube video, let's if this helps.

https://www.youtube.com/watch?v=uyEpzu53TUg

Thanks!

[2021-08-09 21:59] shorties commented on #483
Let me know if that fixes your problem

[2021-08-11 09:59] SubbaReddi opened #484 "App blocked for majority of users in Permission policy - Failing to send messages for all users"
Hi Team,
App is allowed in permission policy for 800 users and app is blocked for 3200 users. All above 4000 users are members of M365 group.

When trying to send message to M365 group, message is not even sending to 800 users. Whole process is failing and showing error message as app forbidden to install.

Tried with dev tenant which contains 25 licenses and it is working as expected.

[2021-08-13 09:49] SubbaReddi opened #486 "App upgraded from V3 to latest version - Failing to send messages to everyone"
App upgraded from V3 to latest version 4.1.3
And it is working fine to send using M365 group and teams
But it is failing to send using "Send chat to everyone":
Failed to prepare the message for sending:The orchestrator function 'TeamsConversationOrchestrator' failed: "The activity function 'TeamsConversationActivity' failed: "Value cannot be null. (Parameter 'UserType')". See the function executio

[2021-08-13 16:42] oclify opened #487 "Guidance in setting up a development env for ui development"
I am currently trying to run the Client App through localhost, while still pointing everything to the services within azure.  I've tried updating the manifest to point to localhost but I'm having very little success.  Any guidance is appreciated!

[2021-08-15 16:53] vikasssdn1 commented on #483
My issue has been resolved now. I have followed re-sync step in troubleshooting guide and it works great.

[2021-08-15 16:53] #483 closed

[2021-08-15 16:55] vikasssdn1 opened #488 "Authors app not able to search Teams groups or Channels while drafting the message"
Authors app not able to search Teams groups or Channels while drafting the message and Getting error message - We could not find any matches.

Getting same message while searching any user.

[2021-08-15 17:23] vikasssdn1 commented on #486
@SubbaReddi I have reviewed your video and able to deploy CC v3 in my test environment. I really appreciate and Thanks for video.
Few things are not working like not able to send messages to Teams and channel, getting message can't find but able to send messages to all users and 365 groups. Do you know any solution so we can send messages to Teams and channel (First 2 options).

[2021-08-16 07:53] SubbaReddi commented on #486
@vikasssdn1 : Check if this helps: https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Troubleshooting#7-when-upgrading-company-commmunicator-from-a-version-prior-to-v4-please-ensure-that-the-users-app-is-installed-in-the-teams-to-send-messages-to-the-team-or-its-members

You would require to install user bot app to required teams channels. then respective teams channels wi

[2021-08-16 13:46] SubbaReddi commented on #488
@vikasssdn1 : Check if this helps: https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Troubleshooting#7-when-upgrading-company-commmunicator-from-a-version-prior-to-v4-please-ensure-that-the-users-app-is-installed-in-the-teams-to-send-messages-to-the-team-or-its-members

You would require to install user bot app to required teams channels. then respective teams channels wi

[2021-08-16 13:51] SubbaReddi opened #489 "Steps for Two installations of company communicator app"
Follow below steps to deploy second instance of company communicator in single tenant:

Register Azure AD Applications as mentioned in Step 1

While doing ARM Template deployment which is given in Step 2, update “User App External Id” with following value: 148a66bb-e83d-425a-927d-09f4299a9275

Proceeding with remaining steps 3, 4

In Step 5, Please update user app manifest id from 148a66bb-e83d-42

[2021-08-17 11:56] InspecJ opened #490 "Our services aren't available right now"
My deployment stopped working, I receive below error when I open the app:
_Our services aren't available right now
We're working to restore all services as soon as possible. Please check back soon.

0VJ8bYQAAAAABziYK118hQZeL+qoqf//4TE9OMjFFREdFMDIxMQBlZGIzYzQ4YS0xZTQ2LTRhYjgtODViZS1jMThiZWY4MDRmODk=_

I decided to start with a clean test Tenant and reinstall the company communicator app. Here I al

[2021-08-17 22:11] jackdawsonnv commented on #477
I am also experiencing a similar issue except it only occurs when I click on an incoming chat notification while editing a draft message in Company Communicator. After clicking the chat notification window, I can see the Teams client switching to the Chat message but the Company Communicator (Authors) card is left open and the Save as Draft button is not functional. When this issue occurs, the onl

[2021-08-18 22:34] gruhle opened #491 "Unable to search for Teams as Author"
There are a few threads with similar questions. I've tried all the suggestions but still running into issues.  Ive checked permissions, storage accounts, urls, etc.

I've side loaded the Author App in one team, and side loaded the user app into another team i'm a member of both teams.  I'm not able to see any Teams/groups as an author.

[2021-08-20 01:31] #488 closed

[2021-08-20 01:33] #446 closed

[2021-08-20 01:33] #444 closed

[2021-08-20 02:13] #456 closed

[2021-08-20 10:12] SubbaReddi commented on #486
Above mentioned issue is resolved by following below steps:
Open storage account in azure portal and delete "UserData" table
After couple of minutes, recreate "UserData" table
And data will be populated in next run.

[2021-08-20 10:12] #486 closed

[2021-08-22 11:39] shorties commented on #235
Has anyone figured out a solution to this? I figured out how to add data to the table in Azure, so that it becomes listed as a draft, I just don't seem to know how to trigger the sending of it to all users via a flow app.

[2021-08-23 10:22] steve-prentice commented on #235
@shorties Unfortunately not here, no. :-/ @priyank29 showed some interest briefly, but nothing came of it.

[2021-08-24 16:48] shorties commented on #235
If there was some sort of documentation on exactly how the preparing to send function works, that solution overview is too generalized to be able to figure out how to hook into the preparing to send process. I just want to be able to trigger it to send via Power Automate. I did find this that helped me get to the point of using power automate to populate the draft messages: https://github.com/Hick

[2021-08-25 11:41] Luviz opened #493 "Question: How dose the app work under burst of load"

[2021-08-25 11:42] #493 closed

[2021-08-31 06:50] geo-msft commented on #480
Feedback from the customer:
In the template docs, we do not clearly state which regions are supported for the resources in the template.
This led to multiple issues in its deployment.

[2021-09-03 01:27] mattomeara5150 opened #496 "Communicator author app not working in Teams"
Hi there, We are in the process of setting up your app for our Teams environment. We are right at the end of the deployment, however when we try and "Add to a Team" with the Company Communicators (Authors) we get an error message saying "Something went wrong"
Please see attached screenshot
![error message](https://user-images.githubusercontent.com/29084145/131936744-baa5b030-a6e6-41b2-bce8-143704e

[2021-09-07 23:25] mattomeara5150 commented on #496
Can anyone please assist me with this issue?

[2021-09-08 06:08] Tech-Savi commented on #491
Hi @gruhle. I'm getting the same experience that I cant see the Teams Groups as an author, however I can see distribution groups. Did you manage to get this sorted?

[2021-09-08 11:42] enginegeli opened #497 "Can't Send a Message to a Large Group"
-First we created a test group which is  a dynamic group and we could send the messages without any problem.
-Then we created a dynamic group which includes over 12000 person.
-We tried to send messages to the this group but app couldn’t send the messages. The Success and Faulire table seems 0 - 0 and when we try to export detailed results, it doesn't work.
Thanks a lot for your support

[2021-09-13 15:33] mreed75 opened #500 "Issue When Uploading The Company Communicators Authors Zip File"
![image](https://user-images.githubusercontent.com/86731249/133113105-6dea022b-b840-4759-b27c-afb07eddab08.png)

[2021-09-13 19:54] bungleweed commented on #500
This normally happens if there was a failure deploying the template in Azure under step 2. You need to resync the App Service. It's in the troubleshooting guide.

[2021-09-13 19:56] bungleweed commented on #496
Can you open the zip file in an App named App Studio? IT's available in the Teams App store. Open it and then import your zip file. Make sure it opens without any errors.

[2021-09-13 19:58] bungleweed commented on #491
You need to install the end user app into a Team for it to be listed. Do this under manage team|apps|upload custom app. You can check the TeamData table in the Azure Storage account for any teams listed in there.

[2021-09-13 20:00] bungleweed commented on #484
Do you want everyone to be able to receive the messages (all 4000)? If not don't select the send to everyone option. Instead create  or resuse a group to send to with the 800 users you want send to. IF you want to send to all 4000 they all need a permissions policy that allows them to install the end user app. IF not the proactive install will fail to these recipients. You can turn off the proacti

[2021-09-13 21:06] mreed75 commented on #500
Can you provide the steps on how to do this?

Mike Reed
________________________________
From: bungledore ***@***.***>
Sent: Monday, September 13, 2021 3:54:54 PM
To: OfficeDev/microsoft-teams-apps-company-communicator ***@***.***>
Cc: Reed, Michael ***@***.***>; Author ***@***.***>
Subject: Re: [OfficeDev/microsoft-teams-apps-company-communicator] Issue When Uploading The Company Communicators Au

[2021-09-13 21:30] bungleweed commented on #500
https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Troubleshooting

[2021-09-13 23:23] djjuice opened #501 "status stuck at sending 0 of... but messages are received"
I can send messages using all of the options and selecting different teams (general channel). The messages are received yet the sent messages always says Sending... 0 of X (where X is the number of users).

I have refreshed the tab but there is no change, (logging out/in doesnt work either)

thanks in advance

[2021-09-14 05:36] enginegeli commented on #497
SOLVE: You can disable the ProactivityInstallApp on AppService and PrepFunctions.

[2021-09-14 05:36] #497 closed

[2021-09-14 10:29] medicineshow opened #502 "Company Communicator - Message is stuck on installing app"
I have installed the latest version of the Company Communicator author application to a specific Team. I have uploaded the user app to the Teams catalogue and made it available through app permission policy to a single user. I want to test sending to all users but only have a single user that is allowed to install the app. ProactivelyInstallUserApp is set to true.
I have successfully sent to the u

[2021-09-14 18:40] JeromeVigne opened #503 "Using Private Endpoints for Azure Services"
Assuming we can use private endpoints for Service Bus, App Service on VNET, Azure Functions on VNET and private endpoints for the storage account.

Could the documentation be updated to talk about such an implementation?

[2021-09-14 22:56] mattomeara5150 commented on #496
It imported into App Studio with no problems

[2021-09-17 07:03] chandni-agarwal commented on #328
Hi @adeelfareed, I am working on similar customization....did you publish it somewhere....Thanks!

[2021-09-20 04:21] sourabhnighot1991 commented on #310
I tried this..but when opening the tab in Teams im getting the following error:

The reply URL specified in the request does not match the reply URLs configured for the application

[2021-09-24 07:32] ITGeekBrian commented on #308
I am working with a client and we have this deployed into a Beta Environment and we are facing the queued message issue. We have  restarted the functions and the app service, but then has not helped

[2021-09-24 09:13] Luviz opened #505 "Scale for large audience ~ 20000 users"
We have installed this solution for testing at a customer of ours. This customer has approximately 20k users. So far, we have the client app installed at three users.

Messages have successfully been sent to smaller groups, but we have had issues when trying to send messages to Everyone.

We are getting some warnings. It states that it could not install the applications, this is expected behavior

[2021-09-24 13:45] KaterinaCejas opened #506 "Size of the images in the draft messages"
After installation, we wanted to create a draft message with an image, but when importing the image, the following message appears:

![image](https://user-images.githubusercontent.com/49104903/134684032-bd3aa0da-ef8f-4f9a-819d-ba1ebc874ab3.png)

However, the image is smaller than the maximum size. We have tried even smaller images, but the result remains the same.
Could you help us solve this matt

[2021-09-24 23:36] nhtngo opened #507 "Error with Entity Size Limit in Storage Table"
With ProactiveInstallationOn, when the User App fails to install for users, the error message for the failed user is saved in the following:
**Resource**: StorageAccount
**Table**: NotificationData
**PartitionKey**: SentNotification
**Column**: WarningMessage

However, after about 93 failed users, the WarningMessage column does not update anymore and the following errors are thrown in ApplicationI

[2021-09-25 00:06] nhtngo opened #508 "HandleFailureActivity throws System.Runtime.Serialization.SerializationException"
Discovered alongside #507, when trying to handle the error thrown by TeamsConversationOrchestrator.

In PrepareToSendOrchestrator function, it calls [TeamsConversationOrchestrator](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/blob/f6ccd25034065898952db2ce0639be1dcdc8e23f/Source/CompanyCommunicator.Prep.Func/PreparingToSend/Orchestrators/PrepareToSendOrchestrator.cs#L87).

[2021-09-27 08:23] nadishs opened #510 "Restrict Appservice access to Azure Front door only?"
Hi,
Since the default implementation of this plugin has an Azure front door instance and given front door's security features, shouldn't access to appservice be restricted to only be through azure front door? Is there a reason why this is not the case in default deployment?

[2021-09-28 06:40] Luviz commented on #505
similar to issue #497

[2021-09-28 06:40] #505 closed

[2021-09-28 10:21] priyank29 commented on #508
@nhtngo the latest PR #509 fixes this. Closing the issue.

[2021-09-28 10:21] #508 closed

[2021-09-28 10:22] priyank29 commented on #507
@nhtngo the latest PR #509 fixes this. Closing the issue.

[2021-09-28 10:22] #507 closed

[2021-09-28 10:24] priyank29 commented on #501
@djjuice Can you please restart the data-function. Also check the application insights if there is any failure logged.

[2021-09-28 15:08] billcruze opened #511 "Inquiry about updates"
What are the steps in case there is a new version of the communicator?

[2021-09-28 16:24] onlize opened #512 "Failed to sync all users error"
Hello, I am deploying company communicator and I am hitting a strange error when I try to send a CC communication out. Can someone help? Here is what I receive:

Failed to prepare the message for sending:The orchestrator function 'SyncRecipientsOrchestrator' failed: "The activity function 'SyncAllUsersActivity' failed: "Failed to deserialize exception from TaskActivity: {"$type":"Microsoft.Graph.S

[2021-09-28 21:31] nhtngo commented on #512
Can you check if the client secret you provided in your app service and/or Key Vault is the same as what you got from your app registration? From the error message, the secret provided may be 1) incorrect or 2) expired

[2021-09-29 14:59] faalive opened #513 "There was a problem reaching the app"
Hi, when a user click on client app: appear a frame with error "There was a problem reaching the app".

This behaviour is very strange because anything is working fine: I send and receive message, no error on Azure and so on and three customer of mine are affected just today.

[2021-09-29 15:20] kayobrasilicatu commented on #513
Same problem here.

When uninstall e reinstall client app, the error is gone. When open again, the error is back. If the same user open on phone, no error is displayed.

[2021-10-01 01:41] jhicksnyc commented on #491
I followed @bungleweed 's suggestion and my TeamData table is empty.  I cannot search for Teams or Groups.
When trying "Send in chat to everyone" I get this error:

Failed to prepare the message for sending:The orchestrator function 'SendQueueOrchestrator' failed: "The activity function 'DataAggregationTriggerActivity' failed: "Specified argument was out of the range of valid values. (Parameter 'R

[2021-10-01 05:37] sathishkumar18594 commented on #229
@priyank29  Could you please share me with the fix you've provided? I'm also facing the same issue when I generate a build in Jenkins which is running on Azure

[2021-10-01 06:06] priyank29 commented on #484
@SubbaReddi Can you try the latest commit? The issue is resolved #509. Closing this.

[2021-10-01 06:06] #484 closed

[2021-10-01 06:11] priyank29 commented on #502
@medicineshow There was issue with this scenario and have been fixed with this #509. Closing this for now.

[2021-10-01 06:11] #502 closed

[2021-10-01 06:16] priyank29 commented on #511
@billcruze We have migration guides in the documentation to update to the new version https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/v4-migration-guide#company-communicator-v4-migration-guide

[2021-10-01 06:16] #511 closed

[2021-10-01 08:32] Branyac opened #514 ""Preview in this channel" and "Export detailed results" aren't working. I get error 403 BotNotInConversationRoster"
Hello,

I have problems with Company Communicator. I get the error 403 when I click on the buttons: "Preview in this channel" and "Export detailed results".

This issue does not affect the other Company Communicator features, for example: I can create and send messages correctly.

In logs I saw that the error has the code "BotNotInConversationRoster" and the message "The bot is not part of the con

[2021-10-01 08:59] medicineshow commented on #502
can you please point me to upgrade instructions?

[2021-10-01 09:02] medicineshow opened #515 "Upgrade instructions"
I am trying to find documentation detailing how to apply any upgrades for this. Do they exist?

[2021-10-01 10:51] faalive commented on #513
We have engaged Microsoft support because there's a conflict with latest Teams update with Azure bot. Microsoft is working to fix this issue

[2021-10-01 10:54] faalive opened #516 "Message cannot be sent to Dynamic group"
Hi, someone know if Security Dynamic Group in Azure cannot receive message? It's by design?

[2021-10-01 16:45] billcruze commented on #500
Has this been resolved? I'm also experiencing this but no errors on the deployment.

[2021-10-01 16:49] mreed75 commented on #500
Yes it is all set now

Mike Reed
________________________________
From: billcruze ***@***.***>
Sent: Friday, October 1, 2021 12:45:53 PM
To: OfficeDev/microsoft-teams-apps-company-communicator ***@***.***>
Cc: Reed, Michael ***@***.***>; Author ***@***.***>
Subject: Re: [OfficeDev/microsoft-teams-apps-company-communicator] Issue When Uploading The Company Communicators Authors Zip File (#500)

EXT

[2021-10-01 17:10] billcruze opened #517 "Unable to deploy Communicator (Authors)"
![image](https://user-images.githubusercontent.com/53074727/135660079-24dfefee-a59e-4b12-8a2c-ddd73d281fcd.png)

Tried to sync the deployment failure but getting this error:

1:23:20 PM -04:00
54fd0c5
Priyank Saxena
Failed
Company Communicator v4.1.5 (#509)

Log Details
Commit ID: 54fd0c5dcb79a3a46d4f42892b819a5c3e7423f1

1:23:20 PM
Updating submodules.
1:23:20 PM
Preparing deployment for commit i

[2021-10-01 17:17] billcruze commented on #500
Did you just sync in app service?

[2021-10-01 18:16] mreed75 commented on #500
No, that didn’t work.  I had to delete everything and start over.

From: billcruze ***@***.***>
Sent: Friday, October 1, 2021 1:17 PM
To: OfficeDev/microsoft-teams-apps-company-communicator ***@***.***>
Cc: Reed, Michael ***@***.***>; Author ***@***.***>
Subject: Re: [OfficeDev/microsoft-teams-apps-company-communicator] Issue When Uploading The Company Communicators Authors Zip File (#500)

EXTERN

[2021-10-02 22:13] kayobrasilicatu commented on #514
Same problem here after deploy v4.1.4. On version 4.1.3 it did not happen.

[2021-10-03 18:27] ahmedmahmoudR commented on #513
Same problem here
Any Update ?

[2021-10-04 12:09] NiallM2016 opened #518 "Export Detailed Results for multiple sent messages stuck in "Export in progress" For days"
I have sent messages successfully, and downloaded Export Detailed Results successfully, But looking back through send messages "Export Detailed Results" is greyed out on some of my historical messages, not all messages just some. When I hover over them I get message "Export in progress" some of these are over a week old.
![image](https://user-images.githubusercontent.com/30409784/135848787-af78164

[2021-10-04 14:32] bungleweed commented on #516
M365 dynamic group should work. You can securiry enable those as well.

[2021-10-04 15:06] mark3grahams commented on #513
Same.

Web-version of Teams seems fine.

[2021-10-04 15:22] kayobrasilicatu commented on #518
I think is the problem discussed on #514 .

[2021-10-05 10:48] nadishs opened #519 "Security concerns on bot registration requiring "Accounts in any organizational directory (Any Azure AD - Multitenant)""
Hi,
It is said in the FAQ that only either of following 2 options are allowed for the bot to work:

1. "Accounts in any organizational directory (Any Azure AD - Multitenant)" or
2. "Accounts in any organizational directory (Any Azure AD - Multitenant) and personal Microsoft accounts (for example, Xbox, Outlook.com)"

I want to understand if there is a security risk associated with this setting.

[2021-10-05 11:03] NiallM2016 commented on #518
Export in progress issue,  route cause not defined but resolution workaround!!
If we go back into Company communicator chat , when the export is Queued you need to give app permission to upload to your OneDrive. We had selected Allow quite a few times, but it seemed to be stuck and not approving , as soon as we selected decline on these problem downloads it freed up the export in progress,  and no

[2021-10-05 12:33] kayobrasilicatu commented on #518
Can't allow or decline. The result is the same:

![image](https://user-images.githubusercontent.com/87320575/136023010-db74826d-c048-4e88-a61e-197cb55f5b07.png)

[2021-10-05 16:52] Fafihome21 opened #520 "Draft Permission for the message"
Have unique permission to allow specific users to draft message alone. Doesn't have permission to send out the message.

[2021-10-06 01:35] kayobrasilicatu commented on #518
My problem is that our WAF service was blocking Microsoft's IP Address from reaching Company Communicator Web App.

[2021-10-06 11:16] NiallM2016 commented on #475
Have you explored the "Add-TeamsAppInstallation" PowerShell cmdlet? The Microsoft Graph API may also be helpful for this purpose for bulk adding of APP to teams
https://docs.microsoft.com/en-us/powershell/module/teams/add-teamsappinstallation?view=teams-ps
https://docs.microsoft.com/en-us/graph/api/team-post-installedapps?view=graph-rest-1.0&tabs=http

[2021-10-06 15:07] MarcBayeTokiota opened #521 "Lack of order result trimming in send to distribution group dropdown"
If you've got lots of distribution groups with very similar names and you're looking for a group whose name matches the beginning of the name of many other groups, the target group may not appear in the dropdown (maybe due to the top 20 limit and by the lack of ordination on the results prior to apply that top 20?)

If you're looking for XYZ and you've got XYZ, XYZ01, XYZ02, ..., XYZ99, you expect

[2021-10-06 17:21] kayobrasilicatu commented on #491
Check if you author bot endpoint is blocked from Microsoft's IP Address.

[2021-10-08 06:39] Branyac commented on #514
I'm still getting the same error messages.

This is the message when exporting detailed results:
![image](https://user-images.githubusercontent.com/1702716/136509756-572f2df2-91d8-4bff-a1c4-d11b28c2acf1.png)

And this is when I try use "Preview in this channel":
![image](https://user-images.githubusercontent.com/1702716/136509955-fb1999b8-9067-4e77-931c-654fcb2cc09d.png)

[2021-10-12 15:46] tjcloudn8v opened #522 "Communicator App in MS Teams won't authenticate"
Hi,

When following the deployment guide for MS Teams Communicator App [https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Deployment-guide], once installed and publichsed from Teams Admin Center, I get to a sign-in page. When i click "sign-in" a new window appears, but does not sign me in, hence the app is not working. Attached is the manifest.json.

Unfortunately, MS Sup

[2021-10-17 12:38] ahmedmahmoudR opened #523 "IS company-communicator Support for Right to Left Text ?"
Text inserted which is written right to left is not displayed in the card as right to left, instead it is left to right.

Teams fully supports right to left support but not the Company Communicator app.

It would be great if this support was brought to the product, as it is required for languages such as Arabic

[2021-10-18 15:00] nanddeepn opened #524 "Restrict "Send in chat to everyone" to set of users"
"Send in chat to everyone" is very sensitive option and should be restricted to a set of users.

[2021-10-19 19:49] KaterinaCejas opened #525 "Update version to 4.1"
I need to update the version of Company Communicator to version 4.1. We currently have version 4.0, but we need the latest version to access Company Communicator Insight.

Could you advise me on how to update to the latest version? What steps should we follow?

Waiting for your response. Thanks.

[2021-10-20 12:29] scjohnmsft opened #526 "Maximum amount of orchestration actions (100000) has been reached."
Failed to prepare the message for sending:The orchestrator function 'TeamsConversationOrchestrator' failed: "Maximum amount of orchestration actions (100000) has been reached. This value can be configured in host.json file as MaxOrchestrationActions.". See the function execution logs for additional details

[2021-10-20 13:40] EYSue opened #527 "Maximum amount of orchestration actions (100000) has been reached."
Hi MSFT, EY Firmwide message failed in Company Communicator (EY.Tech), getting the following message

Failed to prepare the message for sending:The orchestrator function 'TeamsConversationOrchestrator' failed: "Maximum amount of orchestration actions (100000) has been reached. This value can be configured in host.json file as MaxOrchestrationActions.". See the function execution logs for additiona

[2021-10-22 08:55] NiallM2016 opened #528 "Company Communicator as a private deployment ??"
We have deployed Company communicator into our test environment as per normal deployment guide.

concerns from our security team

We have quite a few given to us , but a few of the main items
•	It’s public facing
•	Its deployed via a public arm template, we normally deploy via internal Teraform,
•	Deployed from an open source github repo ( we would prefer internal github to our company)
•	No integ

[2021-10-25 09:05] MIRo2k opened #529 "Unable add reaction to bot message"
Since some time ago it is unable add a reaction to a message received from the company communicator bot from the Teams desktop application, the same from web or mobile if it can be done.

[2021-10-27 13:00] MirianaRebeggiani opened #530 "Users can reply to Bot"
Using the MS Teams Deskop app (Microsoft Teams Version 1.4.00.26376 (64-bit)) (WD 10 build 19043) users can reply to Bot:
![image](https://user-images.githubusercontent.com/28442653/139070049-c4ee6dad-44a2-40a6-8b69-aa81f11d09e9.png)

I've check the manifest and it has the parameter isNotificationOnly: true.

Moreover if I use the MS Teams Web it works correctly and I can't send messages to bot.

[2021-10-27 14:51] nanddeepn opened #531 "User Reactions - How to get the NotificationId ?"
Hi,
I am almost there to capture the user reactions. The code is as follows.
Can someone help me on how to get the `notificationid`?

In the `Bot/UserTeamsActivityHandler` I have below code.

[code]

[2021-10-29 12:51] SilvioSodre opened #533 "Authors tab gets blank in group search with slash"
Dear DevOps!
I am experiencing a curious behavior in my CC installation. When I use, in the group search, a string that contains a slash in the middle (eg, a/a), the authors tab breaks (gets blank). Have anyone got the same behavior and know how to get over this problem?
Thanks in advance!

[2021-10-31 07:46] SubbaReddi commented on #530
It is issue in Desktop teams client. If the app is added under "Installed apps" in app setup policy, then this this issue occuring

[2021-10-31 07:49] SubbaReddi commented on #522
It could be problem with application id uri given in manifest/author app expose an api section. If both are not matching then above would occurs.

[2021-10-31 07:49] SubbaReddi commented on #520
It would require customisation

[2021-10-31 07:53] SubbaReddi commented on #514
Bots in private channel doen't work. So,it is expected behavior.

[2021-11-02 12:44] vms87 commented on #404
When I click on Sync the process ends very fast and still does not work

[2021-11-02 13:03] iiza commented on #476
it´s a joke. Most of clients are asking about that.

[2021-11-02 17:25] reinaldo27 opened #534 "The Application is not working after send 100000 messages"
Hello, i need your help because, we have a company communicator and send a 100K messages (all my users), the app broke for a two weeks and not sen any messages to the users, in the application the appear the warning that said

**Our Services aren't available rigth now**

**We're working to restore all services as soon as posible. Please check back soon**

Attache the screenshots of the error
![Scr

[2021-11-03 00:52] brownt63 commented on #530
@SubbaReddi  How are you suppose to deploy this app to all users in your enterprise if you can't add the app under "Installed apps" in the global app setup policy.  I don't think this is the issue, if so why is this the problem?

[2021-11-03 00:52] brownt63 commented on #530
@MirianaRebeggiani  Have you had any success with removing it?  If so, how are you going to deploy this app to new users in your organization going forward?

[2021-11-03 12:08] yalcindizdar opened #535 "App not installed for users who didn't activate Teams account"
We added the end user app to Global Setup policy in Teams Admin. Proactive app install feature was also enabled. But when we try to send a message to all users, message sent status is stuck at "Installing App" stage and the message is not sent to anyone.

![image](https://user-images.githubusercontent.com/75633412/140056718-26261a02-0a67-4d0c-a5ec-370f2c99ced5.png)

We disabled the proactive app i

[2021-11-03 12:26] EYANOOP opened #536 "Teams App Issue"
The custom Home app is Refusing to display URL in a frame because it set 'X-Frame-Options' to 'sameorigin'. We have started experiencing this issue from Monday (1-Nov-2021).

<img width="960" alt="MicrosoftTeams-image" src="https://user-images.githubusercontent.com/93655932/140059449-6010080e-52e8-4176-b71e-f6101bb37f7c.png">

<img width="908" alt="MicrosoftTeams-image (1)" src="https://user-image

[2021-11-03 12:49] EYANOOP commented on #536
<img width="908" alt="MicrosoftTeams-image (1)" src="https://user-images.githubusercontent.com/93655932/140062879-6f5caaff-6b4f-4918-8362-c0de98109859.png">

[2021-11-03 14:47] lman-SL opened #537 "Adding Company Communicator to Teams Channel doesn't Work"
Hey,

I tried adding the Company Communicator to a Teams Channel.
When trying to add it I get following error:

![image](https://user-images.githubusercontent.com/91659941/140082922-8afb671d-6afc-4667-a2f5-e258dd68d65c.png)

Thanks for your support.

[2021-11-03 14:52] SubbaReddi commented on #530
@brownt63 : If it is company communicator, you have option of proactive installation as mentioned [here](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Deployment-guide#2-deploy-to-your-azure-subscription)
As it is Product related bug, fix will be done.

[2021-11-03 17:17] brownt63 commented on #530
@SubbaReddi OK.  Thanks for the reply back!  Any possible ETA as to when this will be fixed?  We already have it in our app setup policy, so all the users already have it installed, so it's too late for existing users  :(

[2021-11-04 14:34] abdelbakyismail opened #539 "teams users can replay to company communicator message"
when we send an announcement to users using the company communicator app they can repaly to this message

[2021-11-05 03:50] priyank29 commented on #527
Closing this as its resolved.

[2021-11-05 03:50] #527 closed

[2021-11-05 03:50] priyank29 commented on #526
Closing this as its resolved.

[2021-11-05 03:50] #526 closed

[2021-11-05 05:04] cristianoag commented on #531
Hello @nanddeepn. I did some analysis and here is my observations:

1. CC stores an internal message id on the PartitionKey. That message id is not the same of the ID used by teams, it is just a way to track the notification internally.
2. The SentNotificationData table stores the conversation id so every notification sent to a specific user is kept in the same chat in Teams.
3. I couldn't find a

[2021-11-05 05:05] cristianoag commented on #531
I'll invest a bit more time next week trying to get the Activity where the user reacted.

[2021-11-05 08:48] nanddeepn commented on #531
Hi @cristianoag
Thank you for your inputs. I am also looking at possible way to get the notificationid.

One thing I came across is, we can pass custom properties to `ChannelData`. However, it is only available for channel messages and not for the personal messages.

[2021-11-05 13:29] cristianoag opened #540 "SentNotificationData is growing with notification:1 partition keys"
I noticed that since 4.1.5 upgrade the SentNotificationData table is creating two records for each sent message. That is causing the table to grow very fast. Why do we need a notificationid:1 records on that table?

[2021-11-05 14:03] priyank29 commented on #540
@cristianoag This is the optimization to handle large scale data. Earlier the data was handled in-memory and used to cause issues when sending messages for large number of users. Now, the data is saved in the table and :1 denotes the batch count number and is processed in batches.

[2021-11-05 14:23] cristianoag commented on #540
Thanks @priyank29, I imagined from analyzing the code. The thing I see with the approach is that the table will grow twice as fast. We need a way to housekeep those records as soon as the message is sent. IMHO.

[2021-11-08 13:57] faalive commented on #539
Same for me: randomly chat appear as open also if "isNotificationOnly":  is set to true.
I have had same issue a couple of month ago when there's been a conflict with a Teams update...all is come back as standard when Microsoft has released a fix directly on tenant

[2021-11-09 06:39] Porkai-Pandian commented on #539
Hi abdelbakyismail,

Thanks for raising the query, we're looking into your query, will get back to as early as possible with response.

[2021-11-09 06:40] Porkai-Pandian commented on #537
Hi lman-SL,

Thanks for raising the query, we're looking into your query, will get back to as early as possible with response.

[2021-11-09 06:41] Porkai-Pandian commented on #536
Hi @EYANOOP,

Thanks for raising the query, we're looking into your query, will get back to as early as possible with response.

[2021-11-09 06:41] Porkai-Pandian commented on #535
Hi @yalcindizdar,

Thanks for raising the query, we're looking into your query, will get back to as early as possible with response.

[2021-11-09 06:42] Porkai-Pandian commented on #534
Hi @reinaldo27,

Thanks for raising the query, we're looking into your query, will get back to as early as possible with response.

[2021-11-09 06:43] Porkai-Pandian commented on #533
Hi @SilvioSodre,

Thanks for raising the query, we're looking into your query, will get back to as early as possible with response.

[2021-11-09 06:44] Porkai-Pandian commented on #529
Hi @MIRo2k,

Thanks for raising the query, we're looking into your query, will get back to as early as possible with response.

[2021-11-09 06:44] Porkai-Pandian commented on #528
Hi @NiallM2016,

Thanks for raising the query, we're looking into your query, will get back to as early as possible with response.

[2021-11-09 06:44] Porkai-Pandian commented on #524
Hi @nanddeepn,

Thanks for raising the query, we're looking into your query, will get back to as early as possible with response.

[2021-11-09 06:45] Porkai-Pandian commented on #523
Hi @ahmedmahmoudR,

Thanks for sharing your feedback on the app, we're looking into your query, will get back to you as early as possible with response.

[2021-11-09 06:46] Porkai-Pandian commented on #521
Hi @MarcBayeTokiota,

Thanks for raising the query, we're looking into your query, will get back to you as early as possible with response.

[2021-11-09 06:47] Porkai-Pandian commented on #519
Hi @nadishs,

Thanks for raising the query, we're looking into your query, will get back to you as early as possible with response.

[2021-11-09 07:07] Mikhail2k15 opened #542 "Issues during ARM template deployment"
several function apps are not able to attach source control repo during ARM template deployment.
{
    "status": "Failed",
    "error": {
        "code": "BadRequest",
        "message": "Repository 'UpdateSiteSourceControl' operation failed with System.Net.WebException: The remote server returned an error: (503) Server Unavailable.\r\n   at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult as

[2021-11-09 07:10] Mikhail2k15 opened #543 "Power Shell deployment reliability"
PS deployment process stuck after successful authentication without any reasons
![image](https://user-images.githubusercontent.com/11201670/140878706-9df55f11-e82c-4de9-a880-3e6fb3f351c6.png)

After several attempts, the deployment was failed
Different reasons the last one was this^
![image](https://user-images.githubusercontent.com/11201670/140878063-d51bbbc8-fca8-41b1-8010-98a16e9ac33c.png)

[2021-11-09 07:19] Mikhail2k15 opened #544 "ARM template doesn't follow azure best practices. Part 1"
- To follow security best practices and the latest PCI compliance standards, Microsoft recommends enabling the latest version of TLS protocol (TLS 1.2).
- Bot Channels Registration and Web App Bot were deprecated on Sept 1st, 2021 and the official recommendation is to use Azure Bot instead.
- According to the latest recommendation, https://docs.microsoft.com/en-us/azure/key-vault/general/soft-dele

[2021-11-09 16:44] arelraptor opened #546 "Problem upgrading from version 4.1"
HI all

Previously, we had version 4.1 and it was working fine.

Today, we have tried to upgrade it using Deployment Center (Sync Option)

![image](https://user-images.githubusercontent.com/74198534/140966194-c6ed7e27-f950-4de5-b9fd-1b4a77fd00b7.png)

We have done this step for App Service and for the 3 Azure Function. All process ended successfully.

![image](https://user-images.githubusercontent

[2021-11-09 17:16] abdelbakyismail commented on #539
Dears,

Thanks for response. I resolved it by change in the permission option property in the manifest.json file of users file Package and remove "messageTeamMembers" and remove from it .

Thanks & Regards,

Abdelbaky Ismail
MWP Consultant
M (+2) 010 91393822
[Logo]<http://www.gbrands.com/>

From: Porkai ***@***.***>
Sent: Tuesday, November 9, 2021 8:40 AM
To: OfficeDev/microsoft-teams-apps-compan

[2021-11-09 17:45] Porkai-Pandian commented on #539
Hi @abdelbakyismail,

Thanks for your response, we're glad that you're able to resolve the issue, we'll proceed with marking this issue as closed.

[2021-11-09 17:49] Porkai-Pandian commented on #544
Hi @Mikhail2k15,

Thank you for your recommendations and pointing out on best practices, we'll review internally and add it to our backlog and incorporate the same in future releases.

[2021-11-09 19:02] Porkai-Pandian commented on #546
Hi @arelraptor,

Thanks for raising the query, we're looking into your query, will get back to you as early as possible with response.

[2021-11-09 19:03] Porkai-Pandian commented on #543
Hi @Mikhail2k15,

Thanks for raising the query, we're looking into the issue with PS deployment, will get back to you as early as possible with response.

[2021-11-09 19:05] Porkai-Pandian commented on #542
Hi @Mikhail2k15,

Thanks for raising the query, just wanted to understand better on this issue, can you please let us know when exactly you face this issue, is it during installation on while using the app?

[2021-11-09 19:11] arelraptor commented on #546
Thanks!!
Let me know if you need some additional information.
It is important for us to try to solve it asap.

Thanks for your collaboration

[2021-11-09 19:16] Porkai-Pandian commented on #534
Hi @reinaldo27,

Can you please try the below steps and let us know if it resolves the issue,

Login to Azure portal and navigate to resource group,
-> Click on Azure function which name is ending with Prep function
-> Open Prep function URL (https://*************.prep-function.azurewebsites.net
-> Add. SCM in URL like https://*************.prep-function.scm.azurewebsites.net
-> Click on Debug con

[2021-11-09 19:21] Mikhail2k15 commented on #542
Please take a look at the first statement above "during ARM template deployment."

[2021-11-09 19:22] Porkai-Pandian commented on #537
Hi @lman-SL,

We need few more information to determine the issue, we can see the 'Save' button is disabled, can you please confirm if you're the owner of the Teams channel where you're installing the app, also do you've have admin permissions to author app

[2021-11-09 19:24] Mikhail2k15 commented on #523
Company Communicator uses Adaptive Cards. Adaptive Cards in Teams doesn't support RTL. https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Known-limitations#2-adaptive-card-doesnt-support-rtl

[2021-11-09 19:29] Mikhail2k15 commented on #519
Company Communicator uses the Azure Bot service for delivering messages. Currently, Bot Framework (BF) and Azure Bot Service for Teams don't support a single-tenant deployment. The single tenancy is coming soon for BF.

[2021-11-09 19:30] Mikhail2k15 commented on #519
For now, in terms of security on the app lever into the source code, there is tenant validation.

[2021-11-09 19:32] Mikhail2k15 commented on #546
Upgrade process from 4.x to 5.x is not just a sync process. Did you follow up the migration guide from 4.x to 5.x?

[2021-11-09 19:36] Porkai-Pandian commented on #546
Thanks @Mikhail2k15 for the response.

Hi @arelraptor,

Here is the link for the migration guide to latest version 5.x, please follow the steps and let us know if you still have issues

https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/v5-migration-guide

[2021-11-09 19:40] arelraptor commented on #546
Hi

Version 5? It seems that latest version is 4.2

https://github.com/OfficeDev/microsoft-teams-apps-company-communicator

And version 4.2 is the version number that is showed in the second screenshot.

I am a quite lost

[2021-11-09 19:48] Mikhail2k15 commented on #546
Yes, it is pretty confusing, but the current version is 5.0 and you have to follow up on the new migration guide.

[2021-11-09 20:03] arelraptor commented on #546
Obviously, It is quite confusing.

I mean, in the main page I can see references to version 4.1 or version 4.2...and if I click on right, latest version is 4.1.5.

And moreover, number version after Azure deployment sync is 4.2...and It is referred to #532 ....and this #532 is showed in the main page as 4.2 (and updated 2 days ago).

I'm sorry, but it is very difficult to understand from my side.

[2021-11-09 20:18] Mikhail2k15 commented on #546
If you take a look at current branches in this repo you can try to roll back to the 4.1.4 version if you change the "sync" branch from master to v4.x Only @priyank29  or someone from project owners can update this branch to 4.1.5.

[2021-11-09 20:24] Mikhail2k15 opened #547 "Wrong screenshot in migration guide"
Instead of multi-tenant for for ****App** should be a single tenant .
![image](https://user-images.githubusercontent.com/11201670/140998992-a0ff8cca-c427-41e1-a382-dd7fc4beee09.png)

[2021-11-09 20:58] arelraptor commented on #546
Thanks for your answer.

Please, allow me an additional question. How can I change the sync branch?

Thanks for your comprehension.

[2021-11-09 22:04] brownt63 commented on #530
When will this get fixed?

[2021-11-09 22:44] Porkai-Pandian commented on #530
Hi @brownt63,

Can you please try the below work around and let us know if it resolved your issue.

_In users manifest.json file, remove ‘messageTeamMembers’ text from ‘permissions’ section, this will disable the option for users to reply to messages_

[2021-11-10 00:53] brownt63 commented on #530
No, the "Reply" option still shows in the menu when you right click on a message.  Even after waiting and clearing teams cache.

[2021-11-10 03:20] Mikhail2k15 commented on #546
In your screenshot above there is a disconnect link. Disconnect then set up a new External git connection with the same repo but instead of master use v4.x branch.

[2021-11-10 04:56] Mikhail2k15 opened #548 "Locks, conflicts during ARM Deployment"
Failed to load log activity: {"Message":"An error has occurred.","ExceptionMessage":"The process cannot access the file 'C:\\home\\site\\deployments\\abfbbc593c92fbc66db52e70b0e386df6234742c\\log.log' because it is being used by another process.","ExceptionType":"System.IO.IOException","StackTrace":"   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)\r\n   at System.IO.FileSt

[2021-11-10 05:01] Mikhail2k15 opened #549 "Versioning hell"
Everywhere in repo you have the 4.2 version, but in reality, it is 5.0 now. Many customers are confused with that
https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/issues/546#issuecomment-964492342
![image](https://user-images.githubusercontent.com/11201670/141052482-cf6e33f7-bcc0-4cc9-9bb2-6d646e108faa.png)

![image](https://user-images.githubusercontent.com/11201670/14105285

[2021-11-10 05:06] Mikhail2k15 commented on #544
@Porkai-Pandian could you merge my corresponding PR #545  into v5.x branch?

[2021-11-10 05:12] Porkai-Pandian commented on #544
Hi @Mikhail2k15,

Currently I don't have access to approve it, it should be the engineering team who needs to approve it

[2021-11-10 06:49] Porkai-Pandian commented on #549
Hi @Mikhail2k15,

There was a delay in releasing v5.0 causing confusion, however it is released and you can find release 14, please confirm if this can be closed.

[2021-11-10 08:01] Mikhail2k15 commented on #549
I don't understand what do you mean by "release 14".
Anyway, after @aosolis update, it looks better, but please update the home page as well, add something like that:
1) the current version is 5.0, to migrate, additional work is required,
2) add a link to the migration guide and release notes.
I have several customers who just pushed the sync button, and now they are in trouble because there is no

[2021-11-10 08:09] lman-SL commented on #537
Hi,

I confirm that I am the owner of the Teams Channel where I'm trying to install the app and I should have admin permissions to the author app.
How do I check this?

Perhaps we could also schedule a call for troubleshooting the issue together.
Please tell me when you're available.

With Kind regards
Manuel Leuzzi

---
Swiss Life AG
Manuel Leuzzi
General-Guisan-Quai 40
Postfach, 8022 Zürich
Offi

[2021-11-10 09:37] arelraptor commented on #546
Hi

After changing sync branch, our Company Communicator is alive again.

Thanks for your support

@Mikhail2k15 I have seen you have opened an issue to update version info and it has been updated some hours ago.

![image](https://user-images.githubusercontent.com/74198534/141088206-646042d7-2278-41d6-bf6c-9af556f23a84.png)

Thanks for your collaboration

[2021-11-10 09:37] #546 closed

[2021-11-10 13:26] AndyHung11 commented on #542
Same here.  Three tries in two days. never see this error on previous version deployment.

[2021-11-10 18:25] Porkai-Pandian commented on #549
Highlighted release 14 which is the latest version v5.0, yes will update the documentation to eliminate confusions related to latest version

![image](https://user-images.githubusercontent.com/87537966/141171323-44a35d39-df62-4e06-968b-b1a73aa60a55.png)

[2021-11-10 18:57] Mikhail2k15 commented on #542
As a workaround, you can attach the repo manually. Select an External Git and provide the right values for git repo URL and master branch and sync again.

[2021-11-10 19:45] Porkai-Pandian commented on #535
Hi @priyank29,

Can you please check this issue, is there a chance the app will not be installed for the users who have not logged in to Teams, just wondering if this is expected or any other ways to address this issue?

[2021-11-10 19:50] #539 closed

[2021-11-10 20:21] Porkai-Pandian commented on #517
Hi @billcruze,

Are you still having this issue, if so it could be one of the possible below reason, please check and let us know if issue is still happening.

•	Entered incorrect app domain value in manifest. So, please double check the app domain entered in author manifest.
•	App service deployment failure could be the reason. So, Please verify the deployment status as mentioned [here](https://g

[2021-11-10 20:28] Porkai-Pandian commented on #524
Hi @nanddeepn,

Thank you for sharing your feedback on the app, we'll discuss your suggestion with our PM team and take the action in future releases of CC, however this option was explicitly asked by few users to send the message in their organization.

[2021-11-10 21:00] Porkai-Pandian commented on #547
Thanks @Mikhail2k15 for letting us know about it, will update the documentation as early as possible.

[2021-11-11 03:04] nanddeepn commented on #524
Hi @Porkai-Pandian
Thank you for your reply.

We should definitely have this option. However, may be from the configuration we should restrict this feature to be visible to certain set of Authors.
Thank you!

[2021-11-11 10:04] v-saikirang commented on #548
Hi @Mikhail2k15,

Please allow us some time to look in to this issue. We will get back to you ASAP.
Thanks.

[2021-11-11 10:44] MirianaRebeggiani commented on #530
Hi, @brownt63  the workaround suggested by @SubbaReddi it seems work, but unfortunatly there is another bug related to the chat of the bot.
If you remove from installation app "the company communicator" the chatbox is disabled but if you try to block and unblock bot conversation then you can send messages.

[2021-11-11 12:56] brownt63 commented on #530
Hi, @MirianaRebeggiani OK, so that's now 2 bugs at this point.  I'll have to wait until a fix is done for all things then. I can't make those kind of changes and still not get desired results for all enterprise users.

Anyone know of an ETA as to when all will get fixed?

[2021-11-11 14:09] MirianaRebeggiani commented on #330
Same issue, but I've installed the Company Communicator in a public Channel (General)

[2021-11-11 14:11] faalive commented on #539
Hi, I have tried your solution but error persist :(
Today I have other three customer with same issue: in total 25k users affected

[2021-11-11 14:28] brownt63 commented on #530
@faalive  I had a case open for months on this issue and they told me there was nothing they could do and that I had to file my issue here only for support of it!

[2021-11-11 14:34] faalive commented on #530
Last time I have received "support" because this issue was appear toghether with teams fix update; once that teams error has been correct is disappear also opportunity to send message. Now where is the difference?

[2021-11-11 21:49] magurrapu commented on #530
@faalive @brownt63 @MirianaRebeggiani The code fix is development stage. We are working on it to resolve the issue asap. ETA Monday 11/15/21

[2021-11-12 14:48] nanddeepn opened #550 "Use of Front Door for Inbound Traffic to App Service"
Hello,
As we have a Front Door, we want to use it for **Access restriction** for **Inbound traffic** in **App Service**.

On **App Service**, under **Settings**, click **Networking**.

![image](https://user-images.githubusercontent.com/8310319/141484490-726ac85d-bc22-4d4f-8733-59e5aaa94e23.png)

Add a rule for Front Door.
![image](https://user-images.githubusercontent.com/8310319/141483786-6ace798

[2021-11-12 16:16] lman-SL commented on #537
Hey,

Do you have any update?

Thanks.

With Kind regards
Manuel Leuzzi

---
Swiss Life AG
Manuel Leuzzi
General-Guisan-Quai 40
Postfach, 8022 Zürich
Office: BC0248, Binz Center, Grubenstrasse 49, 8045 Zürich
T +41 43 284 50 08
***@***.***
www.swisslife.ch<http://www.swisslife.ch/>

Disclaimer
This e-mail and any associated files may be confidential. If you have received this e-mail in error, I/we

[2021-11-12 18:33] magurrapu commented on #537
Hi Manuel,

Can you verify the below step from deployment guide Step 2.7 and make changes if your account is not added to the Sender UPN List.?

Update the "Sender UPN List", which is a semicolon-delimited list of users (Authors) who will be allowed to send messages using the Company Communicator.

Thanks,
Machander

[2021-11-14 08:00] abdelbakyismail commented on #539
The issue still exist ill you uninstall the users package and install it a gain. D if it still exist you can delete teams users cache and sign in to teams in this case it will work fine. By the way by default it should reflected to the users and work fine without clearing teams cache, but may be there is a big delay from teams setup policy update to take affect on end users.

Abdelbaky Ismail
MWP

[2021-11-15 08:57] faalive commented on #539
Hi, I continue to have issue (now I saw also on my test tenant), but there's a procedure to clear Teams cache centrally? Ho can do it for all cx employee?

[2021-11-15 14:07] faalive commented on #530
We have an idea about timing? I don't want force but just to have something to say to customers.
Regards

[2021-11-15 20:04] magurrapu commented on #530
@faalive The fix is in our development backlog, we will take up this based on priority and right now we do not have any ETA.

Regards,
Machander

[2021-11-16 07:10] Porkai-Pandian commented on #550
Hi @nanddeepn,

Thanks for raising the query, we'll simulate this scenario using Azure Front door and explore the issue which you're facing and get back to you with our findings.

[2021-11-16 09:42] faalive commented on #530
OK, if there's a process to rise severity about this, please give me info because I have 125k Platform seat blocked that represent 50% of Italy pipe and 30% of EMEA pipe!
Regards

[2021-11-16 11:03] priyank29 commented on #535
@yalcindizdar Global setup policy will not install the app for users who haven't logged into their Teams account. The proactive installation feature can install the app in this case.
As you mentioned, the app was stuck with Installing App, so please check the Application insights for the error logs and share for further analysis.

[2021-11-17 11:30] yalcindizdar commented on #535
Here are some screenshots from the Application Insights failure logs:

![image](https://user-images.githubusercontent.com/75633412/142191817-80934d6d-b24d-4d8f-8797-490eb5ac9eae.png)

![image](https://user-images.githubusercontent.com/75633412/142192213-11438ec0-f92b-4c62-827a-2d5b64094502.png)

![image](https://user-images.githubusercontent.com/75633412/142192649-c24c802d-1a5d-44e4-ad45-ba638a9fe

[2021-11-17 12:30] pgriziotti opened #552 "How to update from 4.x to 5?"
Is there a procedure to update Company Communicator from 4.x to 5?

[2021-11-17 15:58] acamina commented on #552
https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/v5-migration-guide

[2021-11-18 04:21] #552 closed

[2021-11-18 08:07] heyalter commented on #172
Hi Team

I have the same issue and checked all API Permission and the table is also empty on my side. Need urgently help

[2021-11-18 09:43] SubbaReddi commented on #535
@yalcindizdar: I see Graph API calls failing with 403 forbidden error. App permission policy in Teams admin center could be blocking ​. So, Can you validate app permission policy?

Reference: https://docs.microsoft.com/en-us/microsoftteams/teams-app-permission-policies

[2021-11-19 12:02] bch90 commented on #491
Hello, having the same issue here. Any updates please?

[2021-11-19 17:28] joseescm opened #554 "when selecting group get "We couldn't find any matches""
Permissions have all been added according to document but all is not able to find groups to be able to send message using first option.   Get the message, "We couldn't find any matches."   Is there a particular permission that is missing.  These are the ones currently being applied.

Select “Microsoft Graph”, then select Delegated permissions and check the following permissions,

GroupMember.Read.

[2021-11-19 17:56] Porkai-Pandian commented on #554
Hi @joseescm,

Thanks for raising the issue, please check if the user app in installed to the Teams channel, Team group names will appear in the dropdown only if the user app in installed.

[2021-11-19 21:51] doriansmm97 opened #555 "Problem with permissions"
I have a problem with the new version, the message is the follow.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/93269313/142696057-f473ad09-6a13-4de7-a8eb-6bf9f9ae9bfd.png)

[2021-11-19 22:00] doriansmm97 commented on #555
i done the step 3 and 4 with app author

[2021-11-20 02:11] Mikhail2k15 commented on #555
Looks like it is a custom version of CC not from this repo.

[2021-11-21 09:25] sudheesh145 opened #556 "Permissions needed. Ask your IT admin to enable this option for you in company communicator"
I am getting all the below error when trying the send message using the below option, I can only send to everyone none of the other options working, I have followed and assigned the permission in Authors app and still not working. Any leads would really help.

![image](https://user-images.githubusercontent.com/57366953/142756523-b2be1105-4e7e-4608-8925-5a079d5572eb.png)
![image](https://user-image

[2021-11-22 11:13] ahmedmahmoudR commented on #523
Thanks for your response but what about (Begining in 1.5, users will now be able to set this optional rtl )

[2021-11-22 14:27] doriansmm97 commented on #555
with the original version is the same

![image](https://user-images.githubusercontent.com/93269313/142878643-3365114a-6ea9-4b9b-8b22-21e461815d2e.png)

[2021-11-22 14:27] doriansmm97 commented on #556
i have the same problem

[2021-11-22 19:57] Porkai-Pandian commented on #556
Hi @sudheesh145

Thanks for raising the issue, please check if the user app in installed to the Teams channel, Team group names will appear in the dropdown only if the user app in installed.

[2021-11-22 20:00] Porkai-Pandian commented on #534
Hi @reinaldo27,

Please let us know if the solution provided above resolved the issue and if we can close this issue

[2021-11-23 04:46] bchamnarnkit commented on #556
I have the same issue for the last option. The person who tried to send out the message was the IT Global Admin, Is there a documentation on how to enable this option? - Sending to M365 Groups, Distribution Groups or Security Groups? Thanks!

[2021-11-23 12:28] ahmedmahmoudR commented on #523
@Mikhail2k15
  Can I use horizontalalignment = right  with Company Communicator  Adaptive Cards ?

[2021-11-23 12:30] ahmedmahmoudR commented on #523
![This is an image](https://i.imgur.com/kwsb327.png)

Like This

[2021-11-23 14:39] msft-limchenglei opened #557 "Default Parameters Field"
Please advise on the situation that we will need to replace the default value for the following parameters:

- userAppExternalId
- serviceBusWebAppRoleNameGuid
- serviceBusPrepFuncRoleNameGuid
- serviceBusSendFuncRoleNameGuid
- serviceBusDataFuncRoleNameGuid
- storageAcccountWebAppRoleNameGuid
- storageAccountPrepFuncRoleNameGuid

Assuming if there is multiple Company Communicator deployment in th

[2021-11-23 17:42] acanton5 opened #558 "How do I know my version?"
Hi all,

How do I know my version? I started to work in a new company and they already have it but I do not know what version they have.

Kind regards,
Alexander

[2021-11-23 18:29] Porkai-Pandian commented on #558
Hi @acanton5,

Thank you for raising the query, you can find the version installed in the about tag of the application, screenshot below for reference,

![image](https://user-images.githubusercontent.com/87537966/143082995-9ecb2ead-656c-4706-a756-9a062b0c16dc.png)

[2021-11-23 18:37] Porkai-Pandian commented on #537
Hi @lman-SL, do you've any update on this issue?

[2021-11-23 19:00] lman-SL commented on #537
Hi,

Yes, the problem seems to be solved.
I found it out by myself in the end.

With Kind regards
Manuel Leuzzi

---
Swiss Life AG
Manuel Leuzzi
General-Guisan-Quai 40
Postfach, 8022 Zürich
Office: BC0248, Binz Center, Grubenstrasse 49, 8045 Zürich
T +41 43 284 50 08
***@***.***
www.swisslife.ch<http://www.swisslife.ch/>

Disclaimer
This e-mail and any associated files may be confidential. If you

[2021-11-23 19:17] Porkai-Pandian commented on #537
Thank you for the confirmation @lman-SL, glad that the issue resolved, we'll proceed with closing the issue, would you mind share the fix you implemented so that it'll help us in resolving similar issues in future

[2021-11-23 19:17] #537 closed

[2021-11-23 19:19] Porkai-Pandian commented on #549
Hi @Mikhail2k15, please let us know if you're good to close this issue as the documentation is updated.

[2021-11-23 19:20] Porkai-Pandian commented on #557
Hi @msft-limchenglei, thank you for raising the query, we're looking into it and will get back to you as early as possible.

[2021-11-24 02:25] priyank29 commented on #557
@msft-limchenglei yes you have to change the values in case of multiple Company Communicator deployment in the same subscription.

[2021-11-24 02:28] priyank29 commented on #555
@doriansmm97 please check if the graph permissions are granted.

[2021-11-24 02:29] priyank29 commented on #556
@sudheesh145 @bchamnarnkit For the 4th option please check if the graph permissions are granted.

[2021-11-24 03:11] AndyHung11 commented on #542
May I know what's the different from clicking the sync button directly ?

[2021-11-24 04:03] msft-limchenglei commented on #557
Where can we extract/generate the new values to replace for the second Company Communicator?

[2021-11-24 14:03] acanton5 commented on #558
Thank you a lot :)

[2021-11-24 14:03] #558 closed

[2021-11-24 15:10] doriansmm97 commented on #555
@priyank29 yes, in the app Company Communicator Author
![image](https://user-images.githubusercontent.com/93269313/143263847-486185dd-175a-4e12-939f-de7552896079.png)

[2021-11-24 15:17] apptemplatequestions opened #559 "Images not loading in message preview"
My customer has an issue with the Company Communicator:

They are uploading the image for the message on Azure Blob Storage, the image then loads in the message creator, but when they want to preview the message in the channel, the image is not loading.

[2021-11-24 22:09] Porkai-Pandian commented on #559
Hi @apptemplatequestions,

Thanks for raising the query, we're looking into the issue and get back to you as soon as possible

[2021-11-25 17:55] acanton5 opened #560 "The activity function 'StoreMessageActivity' failed:"
Dear team,

I get this error:

Failed to prepare the message for sending: The activity function 'StoreMessageActivity' failed: "Invalid URI: The hostname could not be parsed.". See the function execution logs for additional details.

do you know anything about it?

**version 5**

Kind regards,
Alexander

[2021-11-26 05:10] priyank29 commented on #557
@msft-limchenglei the vaules are GUID. Any GUIDs can be used.

[2021-11-26 05:10] priyank29 commented on #559
@apptemplatequestions Which version/branch of Company communicator you are seeing this behavior ?

[2021-11-26 16:12] #557 closed

[2021-11-29 13:48] Tobias-Ekperigin commented on #556
We have the same issue. After upgrading to the new version. Now not able to send to anyone from the Authors Application

![image](https://user-images.githubusercontent.com/65253262/143879008-5dee6936-64fd-43d1-88b6-a84c8cdccd3a.png)

None of the options above work.

I can confirm that all required permissions have been applied and consented to the user application as mentioned in the guide. @priya

[2021-11-29 14:27] yalcindizdar commented on #535
Hi @SubbaReddi , sorry for the late response. We have checked the app permission policy in Teams admin center and confirmed that Company Communicator is in the allowed custom apps list. So, it seems that there is no blocking configuration set.

[2021-11-29 15:45] doriansmm97 commented on #556
@Tobias-Ekperigin the new configuration is in the new graph app, not in the author app

[2021-11-29 16:21] sudheesh145 commented on #556
@Porkai-Pandian Yes it is installed in the teams only but still getting the error

[2021-11-29 16:22] sudheesh145 commented on #556
I have the same issue and have all permission assigned to graph app

[2021-11-29 18:13] Tobias-Ekperigin commented on #556
@doriansmm97  Sorry I should have made myself clearer. The permissions are applied correctly. Still I have this issue. Like @sudheesh145

[2021-11-29 18:41] Porkai-Pandian commented on #560
Hi @acanton5,

Thank you for raising the query, issue seems to be in your xxxx-prep-function, please check your configuration in the prep function to make sure the URI's updated are correct, if so you can check the logs in Application insights for more information.

[2021-11-30 02:19] mhark033 opened #561 "Cannot send message"
I tried to follow the guide accurately and it's ups and down.
When I finally deployed it, I can't use the app. See below error message

I already tried to resync it but still the same error

<img width="1038" alt="Screen Shot 2021-11-30 at 10 12 56 AM" src="https://user-images.githubusercontent.com/61768253/143974110-a8fe8b4c-72c4-4462-959b-263b09c001f4.png">

<img width="970" alt="Screen Shot 202

[2021-11-30 04:46] bchamnarnkit commented on #556
Hi @priyank29 , Thanks for your message, I have checked and the permissions and Graphs APIs have been granted accordingly,
<img width="747" alt="Graph permission grants v2" src="https://user-images.githubusercontent.com/84174370/143987152-4ea17d5a-a599-4af9-a44d-26f08bb0c967.png">
 I have attached screenshots for your reference
<img width="506" alt="Sending to Groups Error" src="https://user-image

[2021-11-30 05:46] Porkai-Pandian commented on #561
Hi @mhark033

Thank you for raising the query, there could be multiple reasons why the messages are not delivered,

- Please check if the deployment is successful, if not redeploy the app again
- If deployment is successful, then try out the below steps,
1. Open Azure portal
2. Navigate to respective resource group
3. Open “******-prep-function” azure function
4. Click on “Restart” and wait for fe

[2021-11-30 12:03] Ysminali opened #562 "Error in sending message to O365 group"
Hello,
we have encountered these issues (see image).[
![cc issue](https://user-images.githubusercontent.com/60290491/144043166-efbed5ea-6538-40e6-aaf2-2b232abf16d3.jpg)
](url)

- Getting the following errors/warning when trying to send message to O365 group
-  number of users in the group only  6 users.
- All the required permission have been assigned to the application as the below image
![Micros

[2021-11-30 12:34] v-royavinash commented on #562
Hi @Ysminali ,

Thanks for raising the query. Could you please try the below steps and let us know if it works? If not, then please share the logs of the “******-prep-function” azure function.

Step 1:
It generally happens due to permission issues, but I can see you have added all the permission. Please try once with an admin account and just confirm that you have added "Semicolon-delimited list o

[2021-11-30 15:44] acanton5 commented on #560
Hello,
you mean here? I don't see any URI value. Just KeyVault:Url.

![image](https://user-images.githubusercontent.com/73191514/144079346-a4b6aae9-95da-4379-86ec-a4234ab2a748.png)

[2021-11-30 18:36] MSPFE2019 opened #563 "ARM template deployment error"
I am not sure what I am getting this error, can you please help me figure this out?

Error occurred while deploying Azure resources.
ERROR: ARM template deployment error.
At C:\microsoft-teams-apps-company-communicator-master\microsoft-teams-apps-company-communicator-master\Deployment\depl
oy.ps1:530 char:17
+                 Throw $deploymentExceptionMessage
+                 ~~~~~~~~~~~~~~~~~~~~

[2021-11-30 18:53] Porkai-Pandian commented on #534
Closing the issue, if still not resolved please create new issue

[2021-11-30 18:53] #534 closed

[2021-12-01 00:51] mhark033 commented on #561
Hi Here’s the error message in Application Insight logs

***@***.***
***@***.***
***@***.***

Regards,
Tom

AMIS - Platform Engineering - Enterprise Messaging
***@***.*** ***@***.***%20%0d>
Direct: +1 3368906439

OUT OF OFFICE:

Working hours:
Sunday - Thursday (4PM-1AM) Eastern Time

From: Porkai ***@***.***>
Sent: Tuesday, November 30, 2021 12:47 AM
To: OfficeDev/microsoft-teams-apps-company-com

[2021-12-01 00:57] mhark033 commented on #561
Just to add,
operation_Name
failedCount
impactedUsers
UploadActivity
12
1
PUT Export/ExportNotification
1
1
***@***.***

Regards,
Tom

AMIS - Platform Engineering - Enterprise Messaging
***@***.*** ***@***.***%20%0d>
Direct: +1 3368906439

OUT OF OFFICE:

Working hours:
Sunday - Thursday (4PM-1AM) Eastern Time

From: Tomas, Rey Mhark
Sent: Tuesday, November 30, 2021 7:51 PM
To: OfficeDev/microsoft

[2021-12-01 03:07] MSPFE2019 commented on #563
@Porkai-Pandian thank yo, that was the issues. I need to delete all components and start over to get it work.

[2021-12-01 05:14] Porkai-Pandian commented on #563
Hi @MSPFE2019,

Thanks for the confirmation and glad that the issue is resolved, we'll proceed with closing the bug

[2021-12-01 05:14] #563 closed

[2021-12-01 05:18] Porkai-Pandian commented on #561
Hi @mhark033,

Unfortunately, we're unable to view the logs shared by you, can you please share it as screenshot or a file, it seems the information you shared is masked.

[2021-12-01 05:28] mhark033 commented on #561
Here.

operation_Name	                   failedCount	           impactedUsers
UploadActivity  	                    12	                             1
PUT Export/ExportNotification    1                                       1
![error 3](https://user-images.githubusercontent.com/61768253/144177132-6908584e-fbd6-4744-813c-145a8607429a.png)
![error 2](https://user-images.githubusercontent.com/61768253/

[2021-12-01 09:27] ahmedmahmoudR opened #564 "How to debug company-communicator ?"
Please I want to know is there any way to debug  CC App for test before I deploy  it in teams

[2021-12-01 16:26] jmfloreszazo opened #565 "Run and debug in Local"
Please, I need to know the steps to be able to run and debug this locally.

I have already deployed, I have changed the values ​​in appsettings.

But when I launch ngrok, I can't get it to route the urls properly.

Someone has a guide.

Thank you.

[2021-12-01 19:36] Porkai-Pandian commented on #564
Hi @ahmedmahmoudR,

Thank you for raising the query, currently we don't have any steps documented for local debugging, however if you're familiar with ngrok, then you can debug the application locally. We'll create the steps and update in the Wiki in the near future.

[2021-12-01 20:55] iamoverrated opened #566 "Anyway to scale this down to use the free tiers of Azure or reduce cost of app"
Is there anyway to scale this down to use the free tiers of Azure?  My org won't spend $75/month on a single app.  I get the code is free and open source, but this almost seems like something that should be included in Teams by default.  Off-loading the cost of this app onto orgs already shelling out for M365 licenses smells a little of DLC.  Can this be scaled down at all?  Is there a tutorial so

[2021-12-02 07:10] jmfloreszazo commented on #564
Could you put an example ngrok file?

It would help me a lot, I have already changed all the appsetting.json and created an ngrok tunnel, etc. but when I add authors it gives me an error after pressing configure, it is because of:

 "configurableTabs": [{
    "configurationUrl": "https: // [my ngrok url] / configtab",
    "canUpdateConfiguration": true,
    "scopes": [
      "team"
    ]
  }],

Th

[2021-12-02 12:17] v-royavinash commented on #565
Hi @jmfloreszazo

To debug locally you will need all resources required for the Company communicator should be deployed on your Azure subscription. You need to download the code and start it in Visual studio using its .sln file or you can fork and clone the git repo in VS.

You need to follow the [Deployment Guide](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Deploym

[2021-12-02 12:23] v-royavinash commented on #564
Hi @ahmedmahmoudR

As Porkai mentioned we don't have any steps documented for local debugging for now. We'll create the steps and update the Wiki in the near future. And in that, we can include the example ngrok file as suggested. However for now please find below a quick overview of steps to debug locally.

You will need all resources required for the Company communicator should be deployed on yo

[2021-12-02 16:44] iahindes opened #567 "Comunications in Chat to not respect spaces between paragraphs"
Hello,

We are seeing that when a comunication is sent via chat through teams it does not respect the spaces between paragraphs, whilst through channels it does. Is this a known issue or do we have a way to fix? Thank you very much

[2021-12-02 18:38] Mikhail2k15 commented on #567
It is a known issue in Teams product.

[2021-12-02 21:04] jmfloreszazo commented on #565
The problem persists.

Step I have done:

-  Change appsettings.json
-  Change manifest with ngrok url (I have ngrok pro)
-  Change the Bot Endpoint in Azure as mentioned before

![settings](https://user-images.githubusercontent.com/9931443/144500362-530e7945-8aea-412e-a0e9-4fa4968bdedf.png)

Run ngrok start --all.

Run the program in Visual Studio 2019.

And test with:

![InTeams](https://user-im

[2021-12-02 22:41] jmfloreszazo commented on #564
I continue in this message: https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/issues/565

[2021-12-03 04:42] rex-ma opened #568 "The details procedures of how to change app and sender icon in this app"
I can find both steps 2.8 and 5 in deployment guide mentioned can configurate app icon and name.
May I know the relationship of those 2 configurations? Which one is really can change the sender icon and name when user receive message? or Both?

[2021-12-03 06:29] yalcindizdar commented on #535
Hi @SubbaReddi ,

Here are some screenshots from App Permissions in Teams Admin:

![image](https://user-images.githubusercontent.com/75633412/144555698-bf56ff88-e5cd-46d5-811b-d250ac85a39e.png)

![image](https://user-images.githubusercontent.com/75633412/144555781-5b82fd2b-66e4-4dd8-8f70-7fc4c4221e89.png)

![image](https://user-images.githubusercontent.com/75633412/144556002-07a68d03-0805-480e-920

[2021-12-03 16:33] v-royavinash commented on #568
Hi @rex-ma

As mentioned, it can be done from both steps. The preferred way is to do it through [Step 5](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Deployment-guide#5-create-the-teams-app-packages) while creating the team's package. In this, you will have more flexibility if you want to update the icon and name again in the future and re-deploy the team’s package.

[2021-12-03 18:37] Porkai-Pandian commented on #566
Hi @iamoverrated,

Thank you for raising the query and sharing your feedback, currently there is no option to run the app under free tier as some of the resources created for supporting the app are not available in free tier. However, we'll check with our engineering team if this is something which can be leveraged in future releases.

[2021-12-03 19:10] iamoverrated commented on #566
Could you not update the "SKUs" in the ARM template to include the free tiers?  Right now they're set as Basic, Standard, and Premium.  I understand there are going to be AFD and storage costs, but the App Service itself could be run on a free tier.  There's not reason to set the floor of the template to use a $50/month service.

[2021-12-06 13:06] CaseyLittlechild commented on #567
We also have this issue, and our communications team are considering stopping using Company Communicator because of this. Do we know if this issue will be fixed?

[2021-12-06 16:08] v-royavinash commented on #567
@CaseyLittlechild As pointed it's an issue with the Team's product. However, we'll review internally and will let you know if there is a way to address the issue for the Company Communicator.

[2021-12-07 02:54] hcyhome opened #569 "Deployment failed using Powershell: RoleAssignmentUpdateNotPermitted"
My account is service admin of the Azure subscription and I've also added myself to the "user access admin" role, but still get below error, what's going on?

One of my doubts is the M365 tenant I want to deploy is different from the tenant where the Azure service is deployed, but I've filled in different tenant id in parameters.json.

[
  {
    "additionalInfo": null,
    "code": "RoleAssignmentU

[2021-12-07 13:23] lman-SL opened #570 "Ooops! An unexpected error seems to have occured. Why not try refreshing your page? Or you can contact your administrator if the problem persists."
I installed the Company Communicator with the Powershell Guide, now after adding it to a Team I get following error:

"Ooops! An unexpected error seems to have occured. Why not try refreshing your page? Or you can contact your administrator if the problem persists."

I'm in the UPN-Sender List and the deployment was successful.

Thanks for your help.

![image](https://user-images.githubusercontent

[2021-12-07 14:33] v-royavinash commented on #569
Hi @hcyhome

Could you please change the **role name GUIDs** in case of another in progress Company Communicator Deployment in the same subscription and retry the deployment steps? Let me know if you still get the error.

**serviceBusWebAppRoleNameGuid**: Default value is 958380b3-630d-4823-b933-f59d92cdcada.

[2021-12-07 19:09] Porkai-Pandian commented on #566
Hi @iamoverrated,

Thanks for your suggestion, the recommended version is to use standard for app services, however there is no restriction for the users, you can customize and set up at the free tier and perform the deployment. I suppose the app should still work; however, this is something we've not tried.

[2021-12-07 20:04] Porkai-Pandian commented on #568
Hi @rex-ma

Please let us know if you've any queries or we can close this issue

[2021-12-07 20:06] Porkai-Pandian commented on #559
Hi @apptemplatequestions,

Do you've any updates on the above ask, also can you please confirm if the blob you're using has public level of access which should not require any authentication

[2021-12-07 20:07] Porkai-Pandian commented on #554
Hi @joseescm,

Please let us know if you have any updates or can we close this issue.

[2021-12-07 21:08] joseescm commented on #554
We can close it.  The solutions given corrected the issue.

Thanks,

***@***.***
THE UNIVERSITY OF TEXAS
RIO GRANDE VALLEY
UTRGV.EDU
Tony Escamilla
Data Center Systems Engineer III
Information Technology - Data Center
956-665-5042
***@***.******@***.***>
Brownsville * Edinburg * Harlingen

From: Porkai ***@***.***>
Sent: Tuesday, December 7, 2021 2:08 PM
To: OfficeDev/microsoft-teams-apps-company-

[2021-12-07 21:10] #554 closed

[2021-12-08 00:57] Porkai-Pandian commented on #570
Hi @lman-SL,

Thank you for raising the query, there are multiple reasons why this error might occur, can you please double check during the app registration process you’ve selected multi-tenant for author and user apps. If yes, can you also check the app insights to see if any exceptions getting logged there and share it with us to troubleshoot further.

[2021-12-08 08:31] lman-SL commented on #570
Hi @Porkai-Pandian

Thank you for your response.
Following for the App registration:

**Communicator App registration:**

- API Permissions all granted
- I seem to have 2 Client Secrets
- I have following error in the token Config:

![image](https://user-images.githubusercontent.com/91659941/145173793-6fb01533-45ad-43de-94f8-2ecfcb0138b4.png)

**Communicator-Author App Registration:**

- Again 2 C

[2021-12-08 08:32] lman-SL commented on #570
@Porkai-Pandian

Maybe we could schedule a Teams Meeting together to have a look at the current problem I'm facing and to analyze further.
Please send me your E-Mail Address so I can schedule a Meeting for us.

[2021-12-08 11:26] Mikhail2k15 commented on #568
Looks like changes in app manifests are not enough. In toast notification on Desktop Client, a user will see a standard icon.

[2021-12-08 17:20] OritOrlanczyk commented on #523
Is there an option to add RTL support to languages like Hebrew?
I tried to add "rtl": true attribute to adaptive card json file and it works.

[2021-12-08 18:15] emiludev commented on #559
Hello, we have the same problem, we recently installed version 5 to a customer and making a draft message, we see that the images are not shown in the preview, we perform tests with images hosted in a blob storage with public access level, image dimensions aren't larger than 1024 px as dictated by the documentation of the use of images in adaptive cards.

[2021-12-08 21:20] emiludev opened #571 "Proactive installation issues"
Version 4.1.3

Hello, we installed company communicator to a customer, proactive installation is on, we test this feature by sending a communication to an active directory security group, total of members of this group are 7 people, however the application was not installed for 2 of them.

We have validated the following:

- Users have a Teams license.
- Do not have restrictions on use with custom

[2021-12-09 05:59] Porkai-Pandian commented on #569
Hi @hcyhome,

As discussed over IM, closing this issue since the deployment is successful.

[2021-12-09 05:59] #569 closed

[2021-12-09 11:35] PersistentIDC opened #572 "Messages are not sent to Group members in communicator"
The Group membership is not populating while sending messages to Groups.
![image](https://user-images.githubusercontent.com/95857564/145392984-262076c2-bdd7-42fc-af6d-8be551ad6680.png)

This is happening since last friday.

[2021-12-09 16:22] imbaru opened #573 "Send microsoft forms in message"
Will it be possible to send Microsoft Forms as in regular messages with the ability to answer questions in the chat?

[2021-12-09 18:47] Porkai-Pandian commented on #572
Hi @PersistentIDC,

Thank you for raising the query, can you please let me which version of the app you're using, also do you see any exceptions in the app insights, if so can you share the same for us to troubleshoot the issue.

[2021-12-09 20:01] Porkai-Pandian commented on #571
Hi @emiludev,

Thank you for raising the query, can you please check app insights for exceptions logged related to installation failure for the 2 users mentioned, ideally whatever you validated seems to be good.

[2021-12-10 03:00] PersistentIDC commented on #572
we are using V4.0. We do not see any log as such. But the client secret had expired and we had created the new key and put it in configuration of the app. Post that this specific issue started. Before replacing the key the error was permission needed. contact your IT.

[2021-12-10 06:56] jmfloreszazo commented on #565
Please, some help about last message: @v-royavinash @Porkai-Pandian

Thanks

[2021-12-12 03:55] bzbwqz opened #575 "Can't send message to everyone with v5"
Completed the deployment with powershell script for v5.0 and tried to send message to everyone in the teams, but it always below error. I tried twice on another test tenant environment.

Warnings
Failed to sync all users. Status Code: Unauthorized Exception: Code: Authorization_IdentityNotFound Message: The identity of the calling application could not be established. Inner error: AdditionalData:

[2021-12-13 06:28] jmfloreszazo commented on #570
I have the same problem with V5.

The steps followed in V5 are the same as indicated in the instructions.

I have removed all security in the API and it allows me to work "correctly".

![image](https://user-images.githubusercontent.com/9931443/145763149-2ae00593-1fc4-478f-9882-d82fb2587e7d.png)

Thank you

[2021-12-13 09:49] lman-SL commented on #570
I haven't found where to set this setting?
Could you please tell me where I can change that?

Kind regards
Manuel

[2021-12-13 11:09] Mykhailo-D opened #576 "Application gateway instead of Front Door"
Is it possible to use Azure app gateway instead of FD? If yes, what would be the setup?
We've tried to specify a gateway with 2 rules (forward and redirect, same as in the FD) and failed.
Getting an error "Sorry, an error occurred while trying to access this service." in the Authors app. And we're getting 401 response when trying to reach https://appServiceURL/api/draftnotifications (or /sentnotif

[2021-12-13 13:35] LeandrewP opened #577 "Deployment Failure with Azure Functions"
I tried to deploy the company communicator using the **Deploy to Azure** link from the deployment guide. However, the prep-function, data function and the function/web failed to deploy and indicated a **BadRequest**. When drilling down into the operation details,  the errors were (502) Bad Gateway and (503) Server Unavailable.

Is there a specific reason for this error and what should I do to prev

[2021-12-13 13:39] ahmedmahmoudR commented on #523
@Porkai-Pandian  Any Update ?

[2021-12-13 14:11] jmfloreszazo commented on #570
@lman-SL This code is in the solution. Find all "[Autorize" and comment it. Deploy the apps service and test.

Be careful that we are left without security.

[2021-12-13 15:36] acanton5 commented on #560
Hello @Porkai-Pandian can you help here?

[2021-12-13 19:13] Porkai-Pandian commented on #570
@jmfloreszazo it's advisable not to modify the authorize which might lead to other issues and we'll not be able to support in such cases.

@lman-SL you shared the exception count, can you please share the exception details

[2021-12-13 19:24] Porkai-Pandian commented on #577
Hi @LeandrewP

The above-mentioned issue occurs sometimes during ARM template deployment. Depending on the resource failed, please follow the below steps,
•	App service
•	Data-function : Azure function
•	Prep-function : Azure function
•	Function: Azure function

User can manually fix the issue by following the below steps:
•	Go to the Azure portal  Resource group which got created  App Service
•

[2021-12-13 19:27] Porkai-Pandian commented on #576
Hi @Mykhailo-D

Thank you for raising the query, if you don't want to use Front Door, you can go with custom domain option, more info on the same will be available [here](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Custom-domain-option)

[2021-12-13 19:34] Porkai-Pandian commented on #572
Hi @PersistentIDC,

Currently v5.0 released for CC, if you want to upgrade to latest version here is the [link](https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/v5-migration-guide)

In case you don't want to upgrade, seems the client secret expiration causing the issue, have you restarted the apps after updating the configurations.

[2021-12-13 19:35] Porkai-Pandian commented on #573
Hi @imbaru

Thank you for raising the query, can you please share more details on what exactly you're trying to achieve with Microsoft Forms with Company Communicator app?

[2021-12-13 20:29] ecmansur commented on #556
Guys, I solved this problem adding 2 permissions:
![image](https://user-images.githubusercontent.com/96084578/145883901-c256eaf1-bad7-4a3c-b225-211a1ef47e8e.png)

[2021-12-14 06:15] jmfloreszazo commented on #570
@Porkai-Pandian Thanks for the advise, I understand the derived problems, it was to see where the error occurred. It is already limited and it is an authorization problem.

[2021-12-14 17:45] scjohnmsft opened #578 "Issues sending CC message to 300k users"
****Customer is attempting to send a message to all user (300K+), CC has been trying to sync for the last 5 hours, has an urgent message that needs to go out asap****

![CC syncing issue Dec14](https://user-images.githubusercontent.com/64435811/146051680-15d4390c-12a1-45c1-a1b4-ac68aba529e0.png)

[2021-12-14 18:32] zamilgroupholdingco opened #579 "Failed to sync all users. Status Code: 0 Exception: Code: generalException Message: An error occurred sending the request."
All of a sudden the system is giving the following error:

Failed to sync all users. Status Code: 0 Exception: Code: generalException Message: An error occurred sending the request.

[2021-12-14 18:33] zamilgroupholdingco commented on #579
After installing it was working perfectly for a whole year then this  error came out

[2021-12-14 20:22] Porkai-Pandian commented on #575
Hi @bzbwqz,

Thank you for raising the query, it seems to be issue with client secrets, can you please check if you've updated the Client Secrets correctly during deployment?

[2021-12-14 20:30] Porkai-Pandian commented on #579
Hi @zamilgroupholdingco,

Thank you for raising the query, it seems to be issue with client secrets, can you please check if your client secret you provided in the application is still active and not expired?

[2021-12-14 20:36] zamilgroupholdingco commented on #579
What you mean how can i check ?

[2021-12-14 20:36] zamilgroupholdingco commented on #579
Please advise the steps

[2021-12-14 20:50] Porkai-Pandian commented on #559
Hi @emiludev,

We tested with v5 version with image from blob storage set with public access level and able to view the image in draft.

Can you try accessing the image URL in InCognito window and see if you're able to view image without any login.

[2021-12-15 04:09] rex-ma opened #580 "Will "Send Everyone" option deploy the client app to all users without user app deployed? Even choose false for "Proactively Install User App"?"
Will "Send Everyone" option deploy the client app to all users without user app deployed? Even choose false for "Proactively Install User App"?

[2021-12-15 12:24] SalmanBaig18 commented on #580
No, from my understanding, it will only send it to the users who have the user app installed in their Teams environment. Suggest you create a Teams App permission policy to restrict the app from everyone and then create a second policy to allow the app for the specific users. This helps if you want to use the application only for a certain group of people or for the testing phase of the applicatio

[2021-12-15 19:37] Porkai-Pandian commented on #578
Hi @scjohnmsft,

Thank you for raising the query here, there is already an email discussion going on about this issue, updating the comment for visibility here.

[2021-12-15 19:51] Porkai-Pandian commented on #579
Hi @zamilgroupholdingco below are the steps to check if the client secret is expired or not, if expired provided the steps how to create newly and update it, please let me know if you've any follow up questions.

1)	To find author bot app id, go to Azure portal -> look for Company Communicator App services -> Configuration -> Author AppId

![image](https://user-images.githubusercontent.com/8753796

[2021-12-16 07:06] zamilgroupholdingco commented on #579
Hello, can we connect on MS Teams so you may support me I have no clue how to do this ????!!?!!? :)

[2021-12-16 07:13] zamilgroupholdingco commented on #579
I Could not find (6) AuthorAppPassword  could not find it ?

[2021-12-16 08:23] rex-ma opened #581 "Cannot send message"
We cannot send message after deploy the app

![LE_Error1](https://user-images.githubusercontent.com/25476072/146334675-453f2f36-1302-48a1-a7ff-6187cc5b727d.PNG)

[2021-12-16 10:20] rex-ma opened #582 "Any limitation has to concern for push more then 14,000 messages to users when click send to everyone with version 4.1.5?"
Any limitation has to concern for push more then 14,000 messages to users when click send to everyone with version 4.1.5?

[2021-12-16 15:02] v-royavinash commented on #582
Hi @rex-ma, Company communicator v4.x and above supports sending 1M messages. However, if you still face any errors while sending please do reach out to us.

[2021-12-16 15:05] v-royavinash commented on #581
Hi @rex-ma,

Thank you for raising the query, there could be multiple reasons why the messages are not delivered,

Please check if the deployment is successful, if not redeploy the app again
If deployment is successful, then try out the below steps,
Open Azure portal
Navigate to the respective resource group
Open “******-prep-function” azure function
Click on “Restart” and wait for a few minutes.

[2021-12-16 15:14] v-royavinash commented on #579
Hi @zamilgroupholdingco, Could you please share your MS Teams Id we will connect over Teams.

[2021-12-16 22:40] Porkai-Pandian commented on #562
Hi @Ysminali,

Please let us know if you've any updates on the issue

[2021-12-16 22:45] Porkai-Pandian commented on #579
Hi @zamilgroupholdingco,

Have you checked the client secret, is it expired then? Also, may I know which version of the app do you have issues with?

[2021-12-17 01:57] rex-ma commented on #581
The issue finally fixed by another re-sync of those 3 functions

[2021-12-17 01:57] #581 closed

[2021-12-17 01:58] rex-ma commented on #582
Will it stop at the middle of sending, and sender have to wait 30 minutes or 1 hours to continue like 3.x version?

[2021-12-17 02:00] rex-ma commented on #580
Thanks, I assumed the confirmation may bounced back to default when process re-deploy.

[2021-12-17 02:00] #580 closed

[2021-12-17 02:01] rex-ma commented on #568
Hi @Mikhail2k15 , may we know what is "toast notification on Desktop Client"? Thanks

[2021-12-17 11:59] spireob opened #583 "No POST request to Storage Account Table"
No POST request to Storage Account Table- NotificationData.
After creating draft in Teams message is not being saved in table NotificationData on Storage Account.  GET request are working fine.

[2021-12-17 19:15] Porkai-Pandian commented on #578
Confirmed with customer that the issue is resolved, hence marking it as closed

[2021-12-17 19:15] #578 closed

[2021-12-20 16:55] v-royavinash commented on #583
Hi @spireob ,

Thanks for sharing the issue at the storage level. However, could you please share the issue you are facing as the end user?

Regard,
Avinash Roy

[2021-12-20 23:07] Porkai-Pandian commented on #235
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you still require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 business days. You may also al

[2021-12-20 23:11] Porkai-Pandian commented on #300
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:12] Porkai-Pandian commented on #324
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:13] Porkai-Pandian commented on #379
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you still require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 business days. You may also al

[2021-12-20 23:14] Porkai-Pandian commented on #398
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:14] #407 closed

[2021-12-20 23:15] Porkai-Pandian commented on #442
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:16] Porkai-Pandian commented on #451
Hi @Abhisheik-athi,

Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you still require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 business

[2021-12-20 23:24] Porkai-Pandian commented on #454
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you still require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 business days. You may also al

[2021-12-20 23:25] Porkai-Pandian commented on #455
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:35] Porkai-Pandian commented on #476
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. We don't have control over these contents and also may not be able confirm if these features will be available in future releases right now, please let us know if you still require assistance and we will be happy to d

[2021-12-20 23:36] Porkai-Pandian commented on #477
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:37] Porkai-Pandian commented on #478
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:39] Porkai-Pandian commented on #479
Thank you for providing the guidance on the documentation, we are working to address these items that did not get responses. Please let us know if you still require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 business days. Thank you!

[2021-12-20 23:50] Porkai-Pandian commented on #480
Thank you for submitting the feedback, documentation has been updated on supporting regions, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you still require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will

[2021-12-20 23:50] Porkai-Pandian commented on #481
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:51] Porkai-Pandian commented on #487
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:52] #489 closed

[2021-12-20 23:52] Porkai-Pandian commented on #490
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:53] Porkai-Pandian commented on #491
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:54] Porkai-Pandian commented on #496
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:54] Porkai-Pandian commented on #500
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:54] Porkai-Pandian commented on #501
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:54] Porkai-Pandian commented on #503
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-20 23:55] Porkai-Pandian commented on #506
Thank you for submitting this issue, as we work to ensure consistent responses with items logged in our issues list, we are working to address these items that did not get responses. Please let us know if you are still facing this issue and require assistance and we will be happy to discuss. If no further action is needed at moment and no response is received, we will close out the issue in 3 busi

[2021-12-21 08:26] steve-prentice commented on #235
I would indeed still like an answer… please. It’s been over a year now.